[Unit]
Description=It's a book catalogue.... for cataloging books.
After=network.target

[Service]
Type=idle
Restart=on-failure
User=buriedincode
WorkingDirectory=/data/projects/Buried-In-Code/Book-Catalogue
ExecStart=/bin/bash -c 'hatch run python run.py'

[Install]
WantedBy=multi-user.target
