a {
  font-family: "Overlock SC"
}

img.profile {
  height: 64px !important;
  object-fit: cover;
}

img.profile-large {
  height: 256px !important;
  object-fit: cover;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > footer {
  margin-top: auto;
}
