html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

#navbar-banner {
    background-color: transparent;
}

#navbar-banner img {
    max-height: 3rem;
}

img.profile {
  height: 128px !important;
  object-fit: cover;
}

img.profile-large {
  height: 256px !important;
  object-fit: cover;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
