html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

img.profile {
  height: 128px !important;
  object-fit: cover;
}

img.profile-large {
  height: 256px !important;
  object-fit: cover;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

a.is-sized {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}
