<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Book Catalogue</title>
  <!--<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">-->
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/darkly/bulmaswatch.min.css" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
  <link href="/static/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body class="has-navbar-fixed-top">
<nav class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <a class="navbar-item icon-text" href="/book-catalogue/collection?username={{ username }}">
      <span class="icon is-large">
        <ion-icon name="file-tray-full-outline"></ion-icon>
      </span>
      <span>Collection</span>
    </a>
    <a class="navbar-item icon-text" href="/book-catalogue/wishlist?username={{ username }}">
      <span class="icon is-large">
        <ion-icon name="list-outline"></ion-icon>
      </span>
      <span>Wishlist</span>
    </a>
    <a class="navbar-item icon-text" href="/book-catalogue">
      <span class="icon is-large">
        <ion-icon name="home-outline"></ion-icon>
      </span>
      <span>Logout</span>
    </a>
  </div>
</nav>
<section class="section">
  <div class="container is-fluid">
    <h1 class="title has-text-centered">Collection</h1>
    <div class="columns is-multiline is-centered">
      <div class="column is-narrow">
        <div class="card has-text-light has-background-dark">
          <div class="card-content">
            <div class="content">
              <label class="label">
                <input class="input" id="isbnEntry" placeholder="Isbn" type="text">
              </label>
            </div>
            <div class="buttons is-centered has-addons">
              <a class="card-footer-item button" id="addBookButton" onclick="addBook('addBookButton')">Add Book</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="card has-text-light has-background-dark">
          <div class="card-content">
            <div class="content">
              <p>Warning this process may take a while</p>
            </div>
            <div class="buttons is-centered has-addons">
              <a class="card-footer-item button" id="refreshAllBooksButton" onclick="refreshAllBooks('refreshAllBooksButton')">Refresh All Books</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-multiline is-centered">
      {% for book in books %}
      <div class="column is-narrow">
        <div class="card has-text-light has-background-dark" style="width:250px">
          <div class="card-image">
            <figure class="image is-2by3">
              <img alt="{{ book.title }} by {{ '; '.join(book.authors) }}" loading="lazy" onerror="this.src='/static/missing.png'" src="{{ book.images.large }}"/>
            </figure>
          </div>
          <header class="card-header">
            <p class="card-header-title">{{ book.title }}{% if book.subtitle %}: {{ book.subtitle }}{% endif %}</p>
          </header>
          <div class="card-content">
            <button class="modal-trigger button is-fullwidth" data-target="{{ book.isbn }}-modal" id="{{ book.isbn }}-button">View Book</button>
          </div>
        </div>
      </div>
      <div class="modal" id="{{ book.isbn }}-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <div class="content">
              <p class="modal-card-title">{{ book.title }}{% if book.subtitle %}: {{ book.subtitle }}{% endif %}</p>
            </div>
          </header>
          <section class="modal-card-body">
            <div class="content">
              <p><strong><u>Authors:</u></strong> {{ "; ".join(book.authors) }}</p>
              <p><strong><u>Format:</u></strong> {{ book.format }}</p>
              <p><strong><u>Series:</u></strong> {{ "; ".join(book.series) }}</p>
              <p><strong><u>Publisher:</u></strong> {{ book.publisher }}</p>
              <p><strong><u>Isbn:</u></strong> {{ book.isbn }}</p>
              <p><strong><u>Readers:</u></strong> {{ "; ".join(book.readers) }}</p>
            </div>
            <div class="buttons is-centered has-addons">
              <a class="button" href="https://www.bookdepository.com/search?searchIsbn={{ book.isbn }}" rel="noopener noreferrer" target="_blank">Book Depository</a>
              <a class="button" href="https://openlibrary.org/isbn/{{ book.isbn }}" rel="noopener noreferrer" target="_blank">Open Library</a>
              <a class="button" href="https://www.goodreads.com/book/isbn/{{ book.isbn }}" rel="noopener noreferrer" target="_blank">Goodreads</a>
            </div>
          </section>
          <footer class="modal-card-foot is-centered">
            {% if username in book.readers %}
            <button class="button is-fullwidth" onclick="unreadBook('{{ book.isbn }}-button', '{{ book.isbn }}', {{ book.readers }})">Unread Book</button>
            {% else %}
            <button class="button is-fullwidth" onclick="readBook('{{ book.isbn }}-button', '{{ book.isbn }}', {{ book.readers }})">Read Book</button>
            {% endif %}
            <button class="button is-fullwidth" onclick="refreshBook('{{ book.isbn }}-button', '{{ book.isbn }}')">Refresh Book</button>
            <button class="button is-fullwidth" onclick="removeBook('{{ book.isbn }}-button', '{{ book.isbn }}')">Remove Book</button>
          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/scripts.js" type="text/javascript"></script>
</body>
</html>
