<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Book Catalogue</title>
  <!--<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/darkly/bulmaswatch.min.css" rel="stylesheet">-->
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/superhero/bulmaswatch.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.min.css" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
  <link href="/static/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
  <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
</head>
<body class="has-navbar-fixed-top">
<nav aria-label="main navigation" class="navbar is-fixed-top is-info" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" id="navbar-banner">
      <img alt="Logo" src="/static/logo.png">
    </a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/{{ user.user_id }}">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-home"></i>
        </span>
        <span>Home</span>
      </a>
      <a class="navbar-item" href="/{{ user.user_id }}/collection">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-archive"></i>
        </span>
        <span>Collection</span>
      </a>
      <a class="navbar-item" href="/{{ user.user_id }}/wishlist">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-star"></i>
        </span>
        <span>Wishlist</span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/signup">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-user-plus"></i>
            </span>
            <span>Sign Up</span>
          </a>
          <a class="button is-success" href="/signin">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-sign-in-alt"></i>
            </span>
            <span>Sign In</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<main class="section is-flex-grow-1">
  <div class="container">
    <header class="block has-text-centered">
      <h1 class="title">Collection</h1>
    </header>
    <section>
      <div class="columns">
        <div class="column is-one-fifth">
          <div class="box">
            <h1 class="title is-5">Filter Books</h1>
            <form accept-charset="UTF-8" action="/{{ user.user_id }}/collection" method="get">
              <div class="field">
                <label class="label">Title</label>
                <div class="control">
                  <input class="input" name="title" placeholder="Title" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Author</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="author">
                      <option value=0{% if not author_id %} selected{% endif %}>Select Author</option>
                      {% for _author in author_list %}
                      <option value={{ _author.author_id }}{% if _author.author_id == author_id %} selected{% endif %}>{{ _author.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Format</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="format">
                      <option value=""{% if not format %} selected{% endif %}>Select Format</option>
                      {% for _format in format_list %}
                      <option value="{{ _format }}"{% if _format == format %} selected{% endif %}>{{ _format }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Series</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="series">
                      <option value=0{% if not series_id %} selected{% endif %}>Select Series</option>
                      {% for _series in series_list %}
                      <option value={{ _series.series_id }}{% if _series.series_id == series_id %} selected{% endif %}>{{ _series.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Publisher</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="publisher">
                      <option value=0{% if not publisher_id %} selected{% endif %}>Select Publisher</option>
                      {% for _publisher in publisher_list %}
                      <option value={{ _publisher.publisher_id }}{% if _publisher.publisher_id == publisher_id %} selected{% endif %}>{{ _publisher.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-primary">Filter</button>
                </div>
              </div>
            </form>
          </div>
          <div class="box">
            <h1 class="title is-5">Add Book</h1>
            <form accept-charset="UTF-8" action="/api/v0/books" id="add-form" method="post">
              <div class="field" hidden>
                <label class="label">Wisher Id</label>
                <div class="control">
                  <input class="input" name="wisher-id" placeholder="Wisher Id" readonly type="text" value="{{ user.user_id }}" />
                </div>
              </div>
              <div class="field">
                <label class="label">ISBN</label>
                <div class="control">
                  <input class="input" name="isbn" placeholder="ISBN" type="text">
                </div>
              </div>
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-primary" id="add-form-button">Add</button>
                </div>
              </div>
            </form>
          </div>
          <div class="box">
            <h1 class="title is-5">Refresh All</h1>
            <div class="content">
              <p>Warning this process may take a while</p>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button class="button is-primary" disabled>Refresh</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns is-multiline">
            {% for _book in book_list %}
            <div class="column is-one-quarter has-text-centered">
              <div class="card has-text-light has-background-dark">
                <div class="card-image">
                  <figure class="image is-2by3">
                    <img alt="{{ _book.title }} by {{ '; '.join(_book.authors) }}" height="375" loading="lazy" onerror="this.src='https://via.placeholder.com/750x500'" src="{{ _book.image_url }}" width="250"/>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-5">{{ _book.title }}</p>
                      <p class="subtitle is-6">{{ _book.subtitle or "" }}</p>
                    </div>
                  </div>
                </div>
                <footer class="card-footer">
                  <a class="card-footer-item modal-trigger" data-target="{{ _book.identifiers.book_id }}-view-modal" id="{{ _book.identifiers.book_id }}-view-button">View</a>
                  <a class="card-footer-item modal-trigger" data-target="{{ _book.identifiers.book_id }}-edit-modal" id="{{ _book.identifiers.book_id }}-edit-button">Edit</a>
                </footer>
              </div>
            </div>
            <div class="modal" id="{{ _book.identifiers.book_id }}-view-modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <div class="content">
                    <p class="modal-card-title">{{ _book.title }}</p>
                  </div>
                </header>
                <section class="modal-card-body">
                  <div class="content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Authors</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.author_names }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Format</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.format }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Series</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.series_names }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Publishers</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.publisher_names }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Isbn</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.identifiers.isbn_13 }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Readers</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.reader_names }}</p>
                      </div>
                    </nav>
                  </div>
                </section>
                <footer class="modal-card-foot is-centered">
                  <a class="button is-fullwidth" href="https://www.bookdepository.com/search?searchIsbn={{ _book.identifiers.isbn_13 }}" rel="noopener noreferrer" target="_blank">Book Depository</a>
                  <a class="button is-fullwidth" href="https://openlibrary.org/isbn/{{ _book.identifiers.isbn_13 }}" rel="noopener noreferrer" target="_blank">Open Library</a>
                  <a class="button is-fullwidth" href="https://www.goodreads.com/book/isbn/{{ _book.identifiers.isbn_13 }}" rel="noopener noreferrer" target="_blank">Goodreads</a>
                </footer>
              </div>
            </div>
            <div class="modal" id="{{ _book.identifiers.book_id }}-edit-modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <div class="content">
                    <p class="modal-card-title">{{ _book.title }}</p>
                  </div>
                </header>
                <section class="modal-card-body">
                  <div class="content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Authors</p>
                      </div>
                      <div class="level-right">
                        <input class="level-item input" id="authors-input" placeholder="Authors" type="text" value="{{ _book.author_names }}" />
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Format</p>
                      </div>
                      <div class="level-right">
                        <input class="level-item input" id="format-input" placeholder="Format" type="text" value="{{ _book.format }}" />
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Series</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.series_names }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Publishers</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.publisher_names }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Isbn</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.identifiers.isbn_13 }}</p>
                      </div>
                    </nav>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <p class="level-item subtitle is-5">Readers</p>
                      </div>
                      <div class="level-right">
                        <p class="level-item">{{ _book.reader_names }}</p>
                      </div>
                    </nav>
                  </div>
                </section>
                <footer class="modal-card-foot is-centered">
                  {% if user in _book.readers %}
                  <button class="button is-fullwidth" id="{{ _book.identifiers.book_id }}-unread-button" onclick="updateBookReaders('{{ _book.identifiers.book_id }}-unread-button', {{ _book.identifiers.book_id }}, {{ user.user_id }})">Unread</button>
                  {% else %}
                  <button class="button is-fullwidth" id="{{ _book.identifiers.book_id }}-read-button" onclick="updateBookReaders('{{ _book.identifiers.book_id }}-read-button', {{ _book.identifiers.book_id }}, {{ user.user_id }})">Read</button>
                  {% endif %}
                  <button class="button is-fullwidth" id="{{ _book.identifiers.book_id }}-save-button" onclick="editBook('{{ _book.identifiers.book_id }}-save-button', {{ _book.identifiers.book_id }})">Save</button>
                  <button class="button is-fullwidth" id="{{ _book.identifiers.book_id }}-refresh-button" onclick="refreshBook('{{ _book.identifiers.book_id }}-refresh-button', {{ _book.identifiers.book_id }})">Refresh</button>
                  <button class="button is-fullwidth" id="{{ _book.identifiers.book_id }}-remove-button" onclick="removeBook('{{ _book.identifiers.book_id }}-remove-button', {{ _book.identifiers.book_id }})">Remove</button>
                </footer>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<footer class="footer has-background-dark has-text-light">
  <div class="columns">
    <div class="column is-one-third">
      <h4>Contact Us</h4>
      <p>
        <a href="mailto:BuriedInCode@tuta.io" target="_blank">
          <span class="icon is-medium">
            <i class="fas fa-lg fa-inbox"></i>
          </span>
          <span>Email</span>
        </a>
      </p>
      <p>
        <a href="https://github.com/Buried-In-Code/Foiled-Again-Site" target="_blank">
          <span class="icon is-medium">
            <i class="fab fa-lg fa-github"></i>
          </span>
          <span>Github</span>
        </a>
      </p>
      <p>
        <a href="https://fosstodon.org/@BuriedInCode" target="_blank">
          <span class="icon is-medium">
            <i class="fab fa-lg fa-mastodon"></i>
          </span>
          <span>Mastodon</span>
        </a>
      </p>
      <p>
        <a href="https://matrix.to/#/#foiled-again:matrix.org" target="_blank">
          <span class="icon is-medium">
            <i class="far fa-lg fa-comments"></i>
          </span>
          <span>Matrix</span>
        </a>
      </p>
    </div>
    <div class="column is-two-third">
      <a href="https://bulma.io">
        <img alt="Made with Bulma" height="24" src="https://bulma.io/images/made-with-bulma.png" width="128">
      </a>
    </div>
  </div>
</footer>
<script src="/static/bulma-navbar-burger.js" type="text/javascript"></script>
<script src="/static/scripts.js" type="text/javascript"></script>
</body>
</html>
