{% extends "edit_base.jinja" %}
{% from "components/forms.jinja" import input, number_input %}
{% block title %}Edit User{% endblock %}
{% block form %}
  {{ input("Image Url", "image-url", value=user.image_url or "") }}
  {% if current_user.role > 0 and (current_user == user or current_user.role > user.role) %}
    {{ number_input("Role", "role", value=user.role, max=current_user.role - 1) }}
  {% endif %}
  {{ input("Username", "username", value=user.username) }}
{% endblock %}
{% block action_buttons %}
  <a class="button is-success" id="save-button" onclick="saveUser()" type="button">
    <span class="icon">
      <i class="fa-solid fa-floppy-disk"></i>
    </span>
    <span>Save</span>
  </a>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    function saveUser(){
      const caller = "save-button";
      let editForm = document.getElementById("edit-form");
      let formDetails = Object.fromEntries(new FormData(editForm));
      console.log(formDetails);

      addLoading(caller);
      fetch("/api/v0/users/{{ user.user_id }}", {
        method: "PATCH",
        headers: headers,
        body: JSON.stringify({
          "username": formDetails["username"],
          "role": {% if current_user == user or current_user.role > user.role %}formDetails["role"]{% else %}{{ user.role }}{% endif %},
          "image_url": formDetails["image-url"] || null,
        }),
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location = "/users/{{ user.user_id }}";
      }).catch((response) => response.json().then((msg) => {
        alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
  </script>
{% endblock %}
