{% extends "edit_base.jinja" %}
{% from "components/forms.jinja" import input, textarea %}
{% block title %}Edit Creator{% endblock %}
{% block form %}
  {{ textarea("Bio", "bio", value=creator.bio or "") }}
  {{ input("Image Url", "image-url", value=creator.image_url or "") }}
  {{ input("Name", "name", value=creator.name) }}
  <h4 class="subtitle is-4 has-text-centered has-text-info-light">Identifiers</h4>
  {{ input("Goodreads", "goodreads", value=creator.identifiers.goodreads_id or "") }}
  {{ input("LibraryThing", "library-thing", value=creator.identifiers.library_thing_id or "") }}
  {{ input("OpenLibrary", "open-library", value=creator.identifiers.open_library_id or "") }}
{% endblock %}
{% block action_buttons %}
  <a class="button is-success" id="save-button" onclick="saveCreator()" type="button">
    <span class="icon">
      <i class="fa-solid fa-floppy-disk"></i>
    </span>
    <span>Save</span>
  </a>
  <button class="button is-warning" id="refresh-button" onclick="refreshCreator()" type="button">
    <span class="icon">
      <i class="fa-solid fa-rotate-left"></i>
    </span>
    <span>Refresh</span>
  </button>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    function saveCreator(){
      const caller = "save-button";
      let editForm = document.getElementById("edit-form");
      let formDetails = Object.fromEntries(new FormData(editForm));
      console.log(formDetails);

      addLoading(caller);
      fetch("/api/v0/creators/{{ creator.creator_id }}", {
        method: "PATCH",
        headers: headers,
        body: JSON.stringify({
          "name": formDetails["name"],
          "bio": formDetails["bio"],
          "image_url": formDetails["image-url"],
          "identifiers": {
            "goodreads_id": formDetails["goodreads"],
            "library_thing_id": formDetails["library-thing"],
            "open_library_id": formDetails["open-library"]
          },
        }),
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location = "/creators/{{ creator.creator_id }}";
      }).catch((response) => response.json().then((msg) => {
        alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
    
    function refreshCreator(){
      const caller = "refresh-button";
    
      addLoading(caller);
      fetch("/api/v0/creators/{{ creator.creator_id }}", {
        method: "PUT",
        headers: headers,
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location = "/creators/{{ creator.creator_id }}";
      }).catch((response) => response.json().then((msg) => {
        alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
  </script>
{% endblock %}
