{% extends "base.jinja" %}
{% from "components/forms.jinja" import input, textarea %}
{% block title %}{% endblock %}
{% block content %}
<section>
  <div class="box">
    <form id="edit-form">
      {{ input("Name", "name", value=genre.name) }}
    </form>
  </div>
  <div class="buttons is-centered">
    <button class="button is-success is-rounded" id="save-button" type="button" onclick="saveGenre()">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-floppy-disk"></i>
      </span>
      <span>Save</span>
    </button>
    {% if token_user.role >= 3 %}
    <button class="button is-danger is-rounded" id="delete-button" type="button" onclick="deleteGenre()">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-trash"></i>
      </span>
      <span>Delete</span>
    </button>
    {% endif %}
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
function saveGenre(){
  const caller = "save-button";
  let editForm = document.getElementById("edit-form");
  let formDetails = Object.fromEntries(new FormData(editForm));
  console.log(formDetails);

  addLoading(caller);
  fetch("/api/v0/genre/{{ genre.genre_id }}", {
    method: "PATCH",
    headers: headers,
    body: JSON.stringify({
      "name": formDetails["name"],
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location = "/genres/{{ genre.genre_id }}";
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% if token_user.role >= 3 %}
function deleteGenre(){
  const caller = "delete-button";

  addLoading(caller);
  fetch("/api/v0/genres/{{ genre.genre_id }}", {
    method: "DELETE",
    headers: headers,
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location = "/genres";
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
