{% extends "edit_base.jinja" %}
{% from "components/forms.jinja" import input %}
{% block title %}Edit Publisher{% endblock %}
{% block form %}
  {{ input("Name", "name", value=publisher.name) }}
{% endblock %}
{% block action_buttons %}
  <a class="button is-success" id="save-button" onclick="savePublisher()" type="button">
    <span class="icon">
      <i class="fa-solid fa-floppy-disk"></i>
    </span>
    <span>Save</span>
  </a>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    function savePublisher(){
      const caller = "save-button";
      let editForm = document.getElementById("edit-form");
      let formDetails = Object.fromEntries(new FormData(editForm));
      console.log(formDetails);

      addLoading(caller);
      fetch("/api/v0/publishers/{{ publisher.publisher_id }}", {
        method: "PATCH",
        headers: headers,
        body: JSON.stringify({
          "name": formDetails["name"],
        }),
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location = "/publishers/{{ publisher.publisher_id }}";
      }).catch((response) => response.json().then((msg) => {
        alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
  </script>
{% endblock %}
