<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Book Catalogue</title>
  <!--<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/darkly/bulmaswatch.min.css" rel="stylesheet">-->
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/superhero/bulmaswatch.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.min.css" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
  <link href="/static/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
  <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
</head>
<body class="has-navbar-fixed-top">
<nav aria-label="main navigation" class="navbar is-fixed-top is-info" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" id="navbar-banner">
      <img alt="Logo" src="/static/logo.png">
    </a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/{{ user.user_id }}">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-home"></i>
        </span>
        <span>Home</span>
      </a>
      <a class="navbar-item" href="/{{ user.user_id }}/collection">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-archive"></i>
        </span>
        <span>Collection</span>
      </a>
      <a class="navbar-item" href="/{{ user.user_id }}/wishlist">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-star"></i>
        </span>
        <span>Wishlist</span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary is-rounded" href="/add-user">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-user-plus"></i>
            </span>
            <span>Add User</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<main class="section is-flex-grow-1">
  <div class="container">
    <header class="block has-text-centered">
      <h1 class="title">{{ book.title }}</h1>
      <h3 class="subtitle">{{ book.subtitle or "" }}</h3>
    </header>
    <div class="columns is-multiline is-centered">
      <div class="column is-one-third-tablet is-one-quarter-fullhd">
        <div class="box">
          <figure class="image is-3by5">
            <img alt="{{ book.title }} by {{ book.authors|join(', ', attribute='display_name') }}" loading="lazy" onerror="this.src='https://via.placeholder.com/600x1000'" src="{{ book.image_url }}" />
          </figure>
        </div>
      </div>
      <div class="column is-two-thirds-table is-three-quarters-fullhd">
        <div class="box">
          <form accept-charset="UTF-8" action="/api/v0/books" id="edit-form" method="PATCH">
            <div class="field" hidden>
              <label class="label">{{ book.identifiers.book_id }}</label>
              <div class="control">
                <input class="input" name="book-id" placeholder="Book Id" readonly type="text" value="{{ book.identifiers.book_id }}" />
              </div>
            </div>
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input class="input" name="title" placeholder="Title" type="text" value="{{ book.title }}" />
              </div>
            </div>
            <div class="field">
              <label class="label">Subtitle</label>
              <div class="control">
                <input class="input" name="subtitle" placeholder="Subtitle" type="text" value="{{ book.subtitle or '' }}" />
              </div>
            </div>
            <label class="label">Authors</label>
            {% for author in book.authors %}
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="author-{{ loop.index }}">
                    {% for _author in author_list %}
                    <option value="{{ _author.author_id }}"{% if _author.author_id == author.author_id %} selected{% endif %}>{{ _author.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="field has-addons">
              <div class="control">
                <input class="input" name="author" placeholder="Author" type="text" />
              </div>
              <div class="control">
                <button class="button is-info">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column is-two-thirds is-centered">
        <div class="box">
          <div class="buttons has-addons is-centered">
            {% if user.role >= 1 %}
            <button class="button is-warning is-rounded is-outlined">Save</button>
            <button class="button is-warning is-rounded is-outlined">Reset</button>
            {% endif %}
            {% if user.role >= 2 %}
            <button class="button is-danger is-rounded is-outlined">Delete</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer has-background-dark has-text-light">
  <div class="columns">
    <div class="column is-one-third">
      <h4>Contact Us</h4>
      <p>
        <a href="mailto:BuriedInCode@tuta.io" target="_blank">
          <span class="icon is-medium">
            <i class="fas fa-lg fa-inbox"></i>
          </span>
          <span>Email</span>
        </a>
      </p>
      <p>
        <a href="https://github.com/Buried-In-Code/Book-Catalogue" target="_blank">
          <span class="icon is-medium">
            <i class="fab fa-lg fa-github"></i>
          </span>
          <span>Github</span>
        </a>
      </p>
      <p>
        <a href="https://fosstodon.org/@BuriedInCode" target="_blank">
          <span class="icon is-medium">
            <i class="fab fa-lg fa-mastodon"></i>
          </span>
          <span>Mastodon</span>
        </a>
      </p>
    </div>
    <div class="column">
      <a href="https://bulma.io">
        <img alt="Made with Bulma" height="24" src="https://bulma.io/images/made-with-bulma.png" width="128">
      </a>
    </div>
  </div>
</footer>
<script src="/static/bulma-navbar-burger.js" type="text/javascript"></script>
<script src="/static/scripts.js" type="text/javascript"></script>
</body>
</html>
