{% extends "base.jinja" %}
{% from "components/forms.jinja" import input %}
{% block navbar %}
<nav aria-label="main navigation" class="navbar is-fixed-top is-primary" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" id="navbar-banner">
      <img alt="Logo" src="/static/img/logo.png">
      <span>Book Catalogue</span>
    </a>
  </div>
</nav>
{% endblock %}
{% block title_image %}
<figure class="image is-64x64 is-inline-block">
  <img alt="Book Catalogue logo" loading="lazy" src="/static/img/logo.png"/>
</figure>
{% endblock %}
{% block title %}Book Catalogue{% endblock %}
{% block content %}
<section>
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <div class="box">
        <form id="sign-in-form">
          {{ input("Username", "username") }}
          <div class="buttons is-centered">
            <button class="button is-primary is-rounded" id="sign-in-button" type="button" onclick="signIn()">
              <span class="icon is-medium">
                <i class="fa-solid fa-lg fa-right-to-bracket"></i>
              </span>
              <span>Sign In</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
function signIn(){
  const caller = "sign-in-button";
  let signInForm = document.getElementById("sign-in-form");
  let details = Object.fromEntries(new FormData(signInForm));
  console.log(details);

  addLoading(caller);
  fetch(`/api/v0/users/${details['username']}`, {
    method: "GET",
    headers: headers,
  }).then((response) => {
    if (response.ok){
      return response.json();
    }
    return Promise.reject(response);
  }).then((data) => {
    document.cookie = `token=${data.user_id};path=/;max-age=${60*60*24*30}`;
    window.location = `/users/${data.user_id}`;
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
</script>
{% endblock %}
