{% extends "base.jinja" %}
{% from "components/columns/publisher.jinja" import publisher_column %}
{% from "components/filter_box/publisher.jinja" import publisher_filter with context %}
{% from "components/forms.jinja" import input %}
{% block title %}Publishers{% endblock %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ publisher_filter("/publishers") }}
      {% if token_user.role >= 1 %}
      <div class="box">
        <h5 class="title is-5 has-text-link">Add Publisher</h5>
        <form id="add-form" onsubmit="return false;">
          {{ input("Name", "name") }}
          <div class="buttons is-centered">
            <button class="button is-link is-rounded" id="add-button" type="button" onclick="addPublisher()">
              <span class="icon is-medium">
                <i class="fa-solid fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered is-mobile">
        {% for _publisher in publisher_list %}
          {{ publisher_column(_publisher) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addPublisher(){
  const caller = "add-button";
  let addForm = document.getElementById("add-form");
  let formDetails = Object.fromEntries(new FormData(addForm));
  console.log(formDetails);

  addLoading(caller);
  fetch("/api/v0/publishers", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
        "name": formDetails["name"]
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    addForm.reset();
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
