{% extends "list_base.jinja" %}
{% from "components/create_boxes.jinja" import role as create_box %}
{% from "components/filter_boxes.jinja" import role as filter_box %}
{% from "components/list_boxes.jinja" import role as list_box %}
{% block title %}Roles{% endblock %}
{% block sidebar %}
  {{ super() }}
  {{ filter_box(filters=filters) }}
  {% if token_user.role >= 1 %}
    {{ create_box() }}
  {% endif %}
{% endblock %}
{% block list_content %}
  {% for entry in role_list if role_list %}
    <div class="adjustable-column column has-text-centered">
      {{ list_box(obj=entry) }}
    </div>
  {% else %}
    <div class="column has-text-centered">
      <div class="box">
        <h5 class="title is-5 has-text-danger-light">No Roles found.</h5>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block js %}
  {{ super() }}
  <script type="text/javascript">
    {% if token_user.role >= 1 %}
      function createRole(){
        const caller = "create-button";
        let createForm = document.getElementById("create-form");
        let formDetails = Object.fromEntries(new FormData(createForm));
        console.log(formDetails);

        addLoading(caller);
        fetch("/api/v0/roles", {
          method: "POST",
          headers: headers,
          body: JSON.stringify({
              "name": formDetails["name"]
          }),
        }).then((response) => {
          if (!response.ok){
            return Promise.reject(response);
          }
          createForm.reset();
          window.location.reload();
        }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
        })).finally(() => removeLoading(caller));
      }
    {% endif %}
  </script>
{% endblock %}
