{% extends "base.jinja" %}
{% block content %}
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {% block sidebar %}
        {% include "components/settings_box.jinja" %}
      {% endblock %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered">
        {% block list_content required %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="/static/js/settings-box.js" type="text/javascript"></script>
{% endblock %}
