{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% from "components/filters/book.jinja" import book_filter with context %}
{% from "components/forms.jinja" import input %}
{% block title %}Books{% endblock %}
{% block content %}
<section>
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ book_filter("/books", show_read=True) }}
      {% if token_user.role >= 1 %}
      <div class="box">
        <h1 class="title is-5">Add Book</h1>
        <form id="add-book-form">
          {{ input("Isbn", "isbn") }}
          <div class="buttons is-centered">
            <button class="button is-primary is-rounded" id="add-book-button" type="button" onclick="addBook()">
              <span class="icon is-medium">
                <i class="fa-solid fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered is-mobile">
        {% for _book in book_list %}
          {{ book_column(_book) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addBook(){
  const caller = "add-book-button";
  let addBookForm = document.getElementById("add-book-form");
  let details = Object.fromEntries(new FormData(addBookForm));
  console.log(details);

  addLoading(caller);
  fetch("/api/v0/books/lookup", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
      "isbn": details["isbn"],
    }),
  }).then((response) => {
    if (response.ok){
      return response.json();
    }
    return Promise.reject(response);
  }).then((data) => {
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
