{% extends "list_base.jinja" %}
{% from "components/columns/user.jinja" import user_column %}
{% from "components/forms.jinja" import input %}
{% block title %}Users{% endblock %}
{% block side_panel %}
  <div class="box">
    <h1 class="title is-5 has-text-info">Filter Users</h1>
    <form accept-charset="UTF-8" action="/users" method="GET">
      {{ input("Username", "username", value=filters['username'] or '') }}
      <div class="buttons is-centered">
        <button class="button is-link is-rounded">
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-filter"></i>
          </span>
          <span>Filter</span>
        </button>
      </div>
    </form>
  </div>
  {% if token_user.role >= 1 %}
    <div class="box">
      <h5 class="title is-5 has-text-info">Add User</h5>
      <form id="add-form" onsubmit="return false;">
        {{ input("Username", "username") }}
        <div class="buttons is-centered">
          <button class="button is-link is-rounded" id="add-button" type="button" onclick="addUser()">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-plus"></i>
            </span>
            <span>Add</span>
          </button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
{% block list_content %}
  {% for _user in user_list %}
    {{ user_column(_user) }}
  {% endfor %}
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addUser(){
  const caller = "add-button";
  let addForm = document.getElementById("add-form");
  let formDetails = Object.fromEntries(new FormData(addForm));
  console.log(formDetails);

  addLoading(caller);
  fetch("/api/v0/users", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
        "username": formDetails["username"]
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    addForm.reset();
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
