{% extends "base.jinja" %}
{% from "macros/filters.jinja" import publisher with context %}
{% from "macros/forms.jinja" import input %}
{% block title %}Publishers{% endblock %}
{% block content %}
<section>
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ publisher("/publishers") }}
      {% if token_user.role >= 1 %}
      <div class="box">
        <h5 class="title is-5">Add Publisher</h5>
        <form id="add-publisher-form">
          {{ input("Name", "name") }}
          <div class="buttons is-centered">
            <button class="button is-primary is-rounded" id="add-publisher-button" type="button" onclick="addPublisher()">
              <span class="icon is-medium">
                <i class="fas fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered is-mobile">
        {% for _publisher in publisher_list %}
        {% include "components/publisher_column.jinja" %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addPublisher(){
  const caller = "add-publisher-button";
  let addPublisherForm = document.getElementById("add-publisher-form");
  let details = Object.fromEntries(new FormData(addPublisherForm));
  console.log(details);

  addLoading(caller);
  fetch("/api/v0/publishers", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
        "name": details["name"]
    }),
  }).then((response) => {
    if (response.ok){
      return response.json();
    }
    return Promise.reject(response);
  }).then((data) => {
    window.location = "/publishers";
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
