{% extends "base.jinja" %}
{% from "macros/filters.jinja" import author with context %}
{% from "macros/forms.jinja" import input %}
{% block title %}Authors{% endblock %}
{% block content %}
<section>
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ author("/authors") }}
      {% if token_user.role >= 1 %}
      <div class="box">
        <h5 class="title is-5">Add Author</h5>
        <form id="add-author-form">
          {{ input("Name", "name") }}
          <div class="buttons is-centered">
            <button class="button is-primary is-rounded" id="add-author-button" type="button" onclick="addAuthor()">
              <span class="icon is-medium">
                <i class="fas fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline">
        {% for _author in author_list %}
        {% include "components/author_column.jinja" %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addAuthor(){
  const caller = "add-author-button";
  let addAuthorForm = document.getElementById("add-author-form");
  let details = Object.fromEntries(new FormData(addAuthorForm));
  console.log(details);

  addLoading(caller);
  fetch("/api/v0/authors", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
        "name": details["name"]
    }),
  }).then((response) => {
    if (response.ok){
      return response.json();
    }
    return Promise.reject(response);
  }).then((data) => {
    window.location = "/authors";
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
