{% extends "list_base.jinja" %}
{% from "components/columns/series.jinja" import series_column %}
{% from "components/forms.jinja" import input %}
{% block title %}Series{% endblock %}
{% block side_panel %}
  <div class="box">
    <h1 class="title is-5 has-text-info">Filter Series</h1>
    <form accept-charset="UTF-8" action="/series" method="GET">
      {{ input("Name", "name", value=filters['name'] or '') }}
      <div class="buttons is-centered">
        <button class="button is-link is-rounded">
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-filter"></i>
          </span>
          <span>Filter</span>
        </button>
      </div>
    </form>
  </div>
  {% if token_user.role >= 1 %}
    <div class="box">
      <h5 class="title is-5 has-text-info">Add Series</h5>
      <form id="add-form" onsubmit="return false;">
        {{ input("Name", "name") }}
        <div class="buttons is-centered">
          <button class="button is-link is-rounded" id="add-button" type="button" onclick="addSeries()">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-plus"></i>
            </span>
            <span>Add</span>
          </button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
{% block list_content %}
  {% for _series in series_list %}
    {{ series_column(_series) }}
  {% endfor %}
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addSeries(){
  const caller = "add-button";
  let addForm = document.getElementById("add-form");
  let formDetails = Object.fromEntries(new FormData(addForm));
  console.log(formDetails);

  addLoading(caller);
  fetch("/api/v0/series", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
        "name": formDetails["name"]
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    addForm.reset();
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
