{% extends "base.jinja" %}
{% from "components/add_box/book.jinja" import add_book %}
{% from "components/columns/book.jinja" import book_column %}
{% from "components/filter_box/book.jinja" import book_filter with context %}
{% from "components/forms.jinja" import input %}
{% block title %}Books{% endblock %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ book_filter("/books", show_read=True) }}
      {% if token_user.role >= 1 %}
      {{ add_book() }}
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered is-mobile">
        {% for _book in book_list %}
          {{ book_column(_book) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addBook(){
  const caller = "add-button";
  let addForm = document.getElementById("add-form");
  let formDetails = Object.fromEntries(new FormData(addForm));
  console.log(formDetails);

  let book_depository_url = formDetails["book-depository-url"];
  if (book_depository_url){
    let segments = new URL(book_depository_url).pathname.split('/');
    book_depository_url = segments.pop() || segments.pop();
  }

  let isbn = formDetails["isbn"] || book_depository_url;

  addLoading(caller);
  fetch("/api/v0/books/lookup", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
      "collect": true,
      "isbn": isbn,
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    addForm.reset();
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
