{% extends "base.jinja" %}
{% from "components/columns/user.jinja" import user_column %}
{% from "components/filters/user.jinja" import user_filter with context %}
{% from "components/forms.jinja" import input %}
{% block title %}Users{% endblock %}
{% block content %}
<section>
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ user_filter("/users") }}
      {% if token_user.role >= 1 %}
      <div class="box">
        <h1 class="title is-5 has-text-link">Add User</h1>
        <form id="add-user-form">
          {{ input("Username", "username") }}
          <div class="buttons is-centered">
            <button class="button is-link is-rounded" id="add-user-button" type="button" onclick="addUser()">
              <span class="icon is-medium">
                <i class="fa-solid fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered is-mobile">
        {% for _user in user_list %}
          {{ user_column(_user) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 1 %}
function addUser(){
  const caller = "add-user-button";
  let addUserForm = document.getElementById("add-user-form");
  let details = Object.fromEntries(new FormData(addUserForm));
  console.log(details);

  addLoading(caller);
  fetch("/api/v0/users", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
        "username": details["username"]
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    addUserForm.reset();
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
