{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% from "components/filters/book.jinja" import book_filter with context %}
{% from "components/forms.jinja" import input %}
{% block title %}{{ user.username }}'s Wishlist{% endblock %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ book_filter("/users/" ~ user.user_id ~ "/wishlist") }}
      {% if token_user == user %}
      <div class="box">
        <h1 class="title is-5 has-text-link">Add Book</h1>
        <form id="add-form">
          {{ input("Isbn", "isbn") }}
          <div class="divider is-info is-size-4">OR</div>
          {{ input("Book Depository Url", "book-depository-url") }}
          <div class="buttons is-centered">
            <button class="button is-link is-rounded" id="add-button" type="button" onclick="addBook()">
              <span class="icon is-medium">
                <i class="fa-solid fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered is-mobile">
        {% for _book in wishlist %}
          {{ book_column(_book) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user == user %}
function addBook(){
  const caller = "add-button";
  let addForm = document.getElementById("add-form");
  let formDetails = Object.fromEntries(new FormData(addForm));
  console.log(formDetails);

  let book_depository_url = formDetails["book-depository-url"];
  if (book_depository_url){
    let segments = new URL(book_depository_url).pathname.split('/');
    book_depository_url = segments.pop() || segments.pop();
  }

  let isbn = formDetails["isbn"] || book_depository_url;

  addLoading(caller);
  fetch("/api/v0/books/lookup", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
      "isbn": isbn,
      "wisher_id": {{ token_user.user_id }},
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    addForm.reset();
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
