{% extends "list_base.jinja" %}
{% from "components/create_boxes.jinja" import book as create_box %}
{% from "components/filter_boxes.jinja" import book as filter_box %}
{% from "components/list_boxes.jinja" import book as list_card %}
{% block title %}{{ user.username }}'s Wishlist{% endblock %}
{% block sidebar %}
  {{ super() }}
  {{ filter_box(filters=filters, action="/users/" ~ user.user_id ~ "/wishlist") }}
  {% if token_user == user %}
    {{ create_box(show_book_depository=True) }}
  {% endif %}
{% endblock %}
{% block list_content %}
  {% for entry in wishlist %}
    <div class="adjustable-column column has-text-centered">
      {{ list_card(obj=entry) }}
    </div>
  {% endfor %}
{% endblock %}
{% block js %}
  {{ super() }}
  <script type="text/javascript">
    {% if token_user == user %}
      function createBook(){
        const caller = "create-button";
        let createForm = document.getElementById("create-form");
        let formDetails = Object.fromEntries(new FormData(createForm));
        console.log(formDetails);
      
        let book_depository_url = formDetails["book-depository-url"];
        if (book_depository_url){
          let segments = new URL(book_depository_url).pathname.split('/');
          book_depository_url = segments.pop() || segments.pop();
        }
        let isbn = formDetails["isbn"] || book_depository_url;
      
        let open_library_url = formDetails["open-library-url"];
        if (open_library_url){
          let segments = new URL(open_library_url).pathname.split('/');
          open_library_url = segments.pop() || segments.pop();
        }
        let edition_id = formDetails["open-library-id"] || open_library_url;
      
        addLoading(caller);
        fetch("/api/v0/books/lookup", {
          method: "POST",
          headers: headers,
          body: JSON.stringify({
            "edition_id": edition_id,
            "isbn": isbn,
            "wisher_id": {{ token_user.user_id }}
          }),
        }).then((response) => {
          if (!response.ok){
            return Promise.reject(response);
          }
          createForm.reset();
          window.location.reload();
        }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
        })).finally(() => removeLoading(caller));
      }
    {% endif %}
  </script>
{% endblock %}
