{% extends "base.jinja" %}
{% from "macros/filters.jinja" import book with context %}
{% from "macros/forms.jinja" import input %}
{% block title %}{{ user.username }}'s Wishlist{% endblock %}
{% block content %}
<section>
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {{ book("/users/" ~ user.user_id ~ "/wishlist") }}
      {% if token_user == user %}
      <div class="box">
        <h1 class="title is-5">Add Book</h1>
        <form id="add-wishlist-book-form">
          {{ input("Isbn", "isbn") }}
          <div class="buttons is-centered">
            <button class="button is-primary is-rounded" id="add-wishlist-book-button" type="button" onclick="addWishlistBook()">
              <span class="icon is-medium">
                <i class="fas fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="column">
      <div class="columns is-multiline is-centered is-mobile">
        {% for _book in wishlist %}
        {% include "components/book_column.jinja" %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user == user %}
function addWishlistBook(){
  const caller = "add-wishlist-book-button";
  let addWishlistBookForm = document.getElementById("add-wishlist-book-form");
  let details = Object.fromEntries(new FormData(addWishlistBookForm));
  console.log(details);

  addLoading(caller);
  fetch("/api/v0/books/lookup", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
      "isbn": details["isbn"],
      "wisher_id": {{ token_user.user_id }},
    }),
  }).then((response) => {
    if (response.ok){
      return response.json();
    }
    return Promise.reject(response);
  }).then((data) => {
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
