{% extends "view_base.jinja" %}
{% from "components/list_boxes.jinja" import book as book_box %}
{% from "components/forms.jinja" import input, number_input %}
{% block title %}{{ series.name }}{% endblock %}
{% block action_buttons %}
  {% if current_user.role >= 2 %}
    <a class="button is-warning" href="/series/{{ series.series_id }}/edit">
      <span class="icon">
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% if current_user.role >= 3 %}
      <button class="button is-danger" id="delete-button" type="button" onclick="deleteSeries()">
        <span class="icon">
          <i class="fa-solid fa-trash"></i>
        </span>
        <span>Delete</span>
      </button>
    {% endif %}
  {% endif %}
{% endblock %}
{% block sidebar %}
  {{ super() }}
  {% if current_user.role >= 2 %}
    <div class="box">
      <h5 class="title is-5 has-text-info-light">Add Book to Series</h5>
      <form id="add-form" onsubmit="return false;">
        <!-- region Book -->
        <div class="field">
          <label class="label has-text-info">Book</label>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select name="book-id">
                <option disabled hidden selected value="">Select Book</option>
                {% for entry in all_books %}
                  <option value={{ entry.book_id }}>{{ entry.title }}{% if entry.subtitle %}: {{ entry.subtitle }}{% endif %}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <!-- endregion -->
        {{ number_input("Series Number", "number") }}
        <div class="buttons is-centered">
          <button class="button is-success" id="add-button" type="button" onclick="addBook()">
            <span class="icon">
              <i class="fa-solid fa-plus"></i>
            </span>
            <span>Add</span>
          </button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
{% block sub_content_title %}Books{% endblock %}
{% block list_content %}
  {% for entry, number in book_list if book_list %}
    <div class="adjustable-column column has-text-centered">
      {{ book_box(obj=entry, show_remove_button=current_user.role >= 2, series=(series.name, number)) }}
    </div>
  {% else %}
    <div class="column has-text-centered">
      <div class="box">
        <h5 class="title is-5 has-text-danger-light">No Books associated with this Series.</h5>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block js %}
  {{ super() }}
  <script type="text/javascript">
    {% if current_user.role >= 2 %}
      function addBook(){
        const caller = "add-button";
        let addForm = document.getElementById("add-form");
        let formDetails = Object.fromEntries(new FormData(addForm));
        console.log(formDetails);

        addLoading(caller);
        fetch("/api/v0/series/{{ series.series_id }}/books", {
          method: "POST",
          headers: headers,
          body: JSON.stringify({
            "book_id": formDetails["book-id"],
            "number": formDetails["number"]
          }),
        }).then((response) => {
          if (!response.ok){
            return Promise.reject(response);
          }
          addForm.reset();
          window.location.reload();
        }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
        })).finally(() => removeLoading(caller));
      }

      function removeBook(caller, bookId){
        addLoading(caller);
        fetch(`/api/v0/series/{{ series.series_id }}/books/${bookId}`, {
          method: "DELETE",
          headers: headers,
        }).then((response) => {
          if (!response.ok){
            return Promise.reject(response);
          }
          window.location.reload();
        }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
        })).finally(() => removeLoading(caller));
      }
      {% if current_user.role >= 3 %}
        function deleteSeries(){
          const caller = "delete-button";

          addLoading(caller);
          fetch("/api/v0/series/{{ series.series_id }}", {
            method: "DELETE",
            headers: headers,
          }).then((response) => {
            if (!response.ok){
              return Promise.reject(response);
            }
            window.location = "/series";
          }).catch((response) => response.json().then((msg) => {
            alert(`${response.status} ${response.statusText}: ${msg.details}`);
          })).finally(() => removeLoading(caller));
        }
      {% endif %}
    {% endif %}
  </script>
{% endblock %}
