{% extends "base.jinja" %}
{% from "components/columns/creator.jinja" import creator_column %}
{% from "components/columns/series.jinja" import series_column %}
{% from "components/columns/user.jinja" import user_column %}
{% block title %}{{ book.title }}{% endblock %}
{% block subtitle %}{% if book.subtitle %}{{ book.subtitle }}{% endif %}{% endblock %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      <div class="box">
        <figure class="image is-2by3">
          <img alt="{{ book.title }} by {{ book.creators|join(', ', attribute='display_name') }}" height="750" loading="lazy" onerror="this.src='https://via.placeholder.com/1500x1000'" src="{{ book.image_url or '/static/img/logo.png' }}" width="500"/>
        </figure>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <div class="block">
          <p><strong class="title is-size-4 has-text-info">Format:</strong> {% if book.format %}{{ book.format.name }}{% endif %}</p>
        </div>
        <div class="block">
          <p><strong class="title is-size-4 has-text-info">Publish Date:</strong> {% if book.publish_date %}{{ book.publish_date_str }}{% endif %}</p>
        </div>
        <div class="divider is-info is-size-4">More Details</div>
        <div class="block">
          <p><strong class="title is-size-4 has-text-info">Description:</strong> {{ book.description or "" }}</p>
        </div>
        <div class="block">
          <p><strong class="title is-size-4 has-text-info">Publisher:</strong> {% if book.publisher %}{{ book.publisher.name }}{% endif %}</p>
        </div>
        <div class="divider is-info is-size-4">Identifiers</div>
        <div class="block">
          <p><strong class="title is-size-4 has-text-info">Isbn:</strong> {{ book.identifiers.isbn }}</p>
        </div>
        {% if book.identifiers.goodreads_id %}
        <div class="block">
          <p>
            <strong class="title is-size-4 has-text-info">Goodreads:</strong>
            <a href="https://goodreads.com/book/show/{{ book.identifiers.goodreads_id }}" rel="noopener noreferrer" target="_blank">
              {{ book.identifiers.goodreads_id }}
            </a>
          </p>
        </div>
        {% endif %}
        {% if book.identifiers.google_books_id %}
        <div class="block">
          <p>
            <strong class="title is-size-4 has-text-info">Google Books:</strong>
            <a href="https://books.google.com/books?id={{ book.identifiers.google_books_id }}" rel="noopener noreferrer" target="_blank">
              {{ book.identifiers.google_books_id }}
            </a>
          </p>
        </div>
        {% endif %}
        {% if book.identifiers.library_thing_id %}
        <div class="block">
          <p>
            <strong class="title is-size-4 has-text-info">LibraryThing:</strong>
            <a href="https://librarything.com/work/{{ book.identifiers.library_thing_id }}" rel="noopener noreferrer" target="_blank">
              {{ book.identifiers.library_thing_id }}
            </a>
          </p>
        </div>
        {% endif %}
        {% if book.identifiers.open_library_id %}
        <div class="block">
          <p>
            <strong class="title is-size-4 has-text-info">OpenLibrary:</strong>
            <a href="https://openlibrary.org/edition/{{ book.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">
              {{ book.identifiers.open_library_id }}
            </a>
          </p>
        </div>
        {% endif %}
        <div class="divider is-info is-size-4">Links</div>
        <div class="buttons is-centered is-multiline">
          <a class="button is-link is-rounded" href="https://www.bookdepository.com/search?searchIsbn={{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-link"></i>
            </span>
            <span>Book Depository</span>
          </a>
          {% if not book.identifiers.goodreads_id %}
          <a class="button is-link is-rounded" href="https://www.goodreads.com/book/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
            <span class="icon is-medium">
              <i class="fa-brands fa-lg fa-goodreads"></i>
            </span>
            <span>Goodreads</span>
          </a>
          {% endif %}
          {% if not book.identifiers.google_books_id %}
          <a class="button is-link is-rounded" href="https://books.google.com/books?vid=ISBN{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
            <span class="icon is-medium">
              <i class="fa-brands fa-lg fa-google"></i>
            </span>
            <span>Google Books</span>
          </a>
          {% endif %}
          {% if not book.identifiers.library_thing_id %}
          <a class="button is-link is-rounded" href="https://librarything.com/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-link"></i>
            </span>
            <span>LibraryThing</span>
          </a>
          {% endif %}
          {% if not book.identifiers.open_library_id %}
          <a class="button is-link is-rounded" href="https://openlibrary.org/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-link"></i>
            </span>
            <span>OpenLibrary</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="buttons is-centered">
    {% if book.is_collected %}
    <button class="button is-warning is-rounded" id="discard-book-button" type="button" onclick="discardBook()">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-rotate-left"></i>
      </span>
      <span>Discard</span>
    </button>
    <button class="button is-info is-rounded" id="read-book-button" type="button" onclick="readBook()">
      <span class="icon is-medium">
        {% if token_user in book.readers %}
        <i class="fa-solid fa-lg fa-bookmark"></i>
        {% else %}
        <i class="fa-regular fa-lg fa-bookmark"></i>
        {% endif %}
      </span>
      {% if token_user in book.readers %}
      <span>Unread</span>
      {% else %}
      <span>Read</span>
      {% endif %}
    </button>
    {% else %}
    <button class="button is-success is-rounded" id="collect-book-button" type="button" onclick="collectBook()">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-box-archive"></i>
      </span>
      <span>Collect</span>
    </button>
    <button class="button is-info is-rounded" id="wish-book-button" type="button" onclick="wishBook()">
      <span class="icon is-medium">
        {% if token_user in book.wishers %}
        <i class="fa-solid fa-lg fa-star"></i>
        {% else %}
        <i class="fa-regular fa-lg fa-star"></i>
        {% endif %}
      </span>
      {% if token_user in book.wishers %}
      <span>Unwish</span>
      {% else %}
      <span>Wish</span>
      {% endif %}
    </button>
    {% endif %}
    {% if token_user.role >= 2 %}
    <a class="button is-warning is-rounded" href="/books/{{ book.book_id }}/edit">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">Creators</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _creator in book.creators %}
      {{ creator_column(_creator, roles=_creator.roles) }}
    {% endfor %}
  </div>
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">Series</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _series in book.series %}
      {{ series_column(_series) }}
    {% endfor %}
  </div>
  {% if book.is_collected %}
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">Readers</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _reader in book.readers %}
      {{ user_column(_reader) }}
    {% endfor %}
  </div>
  {% else %}
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">Wishers</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _wisher in book.wishers %}
      {{ user_column(_wisher) }}
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if book.is_collected %}
function discardBook(){
  const caller = "discard-book-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/collect`, {
    method: "DELETE",
    headers: headers,
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
function readBook(){
  const caller = "read-book-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/read`, {
    method: "PUT",
    headers: headers,
    body: JSON.stringify({
      "reader_id": {{ token_user.user_id }}
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% else %}
function collectBook(){
  const caller = "collect-book-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/collect`, {
    method: "POST",
    headers: headers,
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
function wishBook(){
  const caller = "wish-book-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/wish`, {
    method: "PUT",
    headers: headers,
    body: JSON.stringify({
      "wisher_id": {{ token_user.user_id }}
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
