{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<section>
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      <div class="box has-text-centered">
        <figure class="image is-256x256 is-inline-block">
          <img alt="{{ user.username }}'s Profile Image" class="is-rounded"  loading="lazy" src="/static/img/logo.png"/>
        </figure>
      </div>
    </div>
    <div class="column">
      <div class="box"></div>
    </div>
  </div>
  <div class="buttons is-centered">
    {% if token_user == user or (token_user.role >= 4 and token_user.role > user.role) %}
    <a class="button is-warning is-rounded" href="/users/{{ user.user_id }}/edit">
      <span class="icon is-medium">
        <i class="fas fa-lg fa-edit"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
    <a class="button is-success is-rounded" href="/users/{{ user.user_id }}/wishlist">
      <span class="icon is-medium">
        <i class="fas fa-lg fa-star"></i>
      </span>
      <span>Wishlist</span>
    </a>
  </div>
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">Last Read</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _book in last_read %}
      {{ book_column(_book) }}
    {% endfor %}
  </div>
</section>
{% endblock %}
