{% extends "view_base.jinja" %}
{% from "components/list_boxes/view.jinja" import book as view_book %}
{% block title %}{{ user.username }}{% endblock %}
{% block image %}
  <figure class="image is-256x256 is-inline-block">
    <img class="profile-large" loading="lazy" src="{{ user.image_url or '/static/img/logo.png' }}" />
  </figure>
{% endblock %}
{% block details %}
  <div class="box">
    <h4 class="subtitle is-4 has-text-centered has-text-info-light">Stats</h4>
    <div class="block">
      <p><strong class="subtitle is-size-5 has-text-info">Wishlist:</strong> {{ stats.wishlist }}</p>
    </div>
    <div class="block">
      <p><strong class="subtitle is-size-5 has-text-info">Unread:</strong> {{ stats.unread }}</p>
    </div>
    <div class="block">
      <p><strong class="subtitle is-size-5 has-text-info">Read:</strong> {{ stats.read }}</p>
    </div>
  </div>
{% endblock %}
{% block action_buttons %}
  {% if current_user.user_id == user.user_id or (current_user.role >= 4 and current_user.role > user.role) %}
    <a class="button is-warning" href="/users/{{ user.user_id }}/edit">
      <span class="icon">
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    <button class="button is-danger" id="delete-button" type="button" onclick="deleteUser()">
      <span class="icon">
        <i class="fa-solid fa-trash"></i>
      </span>
      <span>Delete</span>
    </button>
  {% endif %}
  <a class="button is-info" href="/users/{{ user.user_id }}/wishlist">
    <span class="icon">
      <i class="fa-solid fa-star"></i>
    </span>
    <span>Wishlist</span>
  </a>
{% endblock %}
{% block sub_content_title %}Last Read{% endblock %}
{% block list_content %}
  {% for entry in last_read if last_read %}
    <div class="adjustable-column column has-text-centered">
      {{ view_book(obj=entry) }}
    </div>
  {% else %}
    <div class="column has-text-centered">
      <div class="box">
        <h5 class="title is-5 has-text-danger-light">No Books have been read by this User.</h5>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block js %}
  {{ super() }}
  <script type="text/javascript">
    function deleteUser(){
        const caller = "delete-button";

        addLoading(caller);
        fetch("/api/v0/users/{{ user.user_id }}", {
          method: "DELETE",
          headers: headers,
        }).then((response) => {
          if (!response.ok){
            return Promise.reject(response);
          }
          window.location = "/users";
        }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
        })).finally(() => removeLoading(caller));
      }
  </script>
{% endblock %}
