{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% block title %}{{ creator.name }}{% endblock %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      <div class="box has-text-centered">
        <figure class="image is-256x256 is-inline-block">
          <img alt="{{ creator.name }}'s Profile Image" class="profile-large is-rounded" loading="lazy" onerror="this.src='https://via.placeholder.com/512x512'" src="{{ creator.image_url or '/static/img/logo.png' }}"/>
        </figure>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <div class="block">
          <p><strong class="title is-size-5 has-text-info">Bio:</strong> {{ creator.bio or "" }}</p>
        </div>
        <div class="divider is-info is-size-5">Identifiers</div>
        {% if creator.identifiers.goodreads_id %}
        <div class="block">
          <p>
            <strong class="title is-size-5 has-text-info">Goodreads:</strong>
            <a href="#" rel="noopener noreferrer" target="_blank">
              {{ creator.identifiers.goodreads_id }}
            </a>
          </p>
        </div>
        {% endif %}
        {% if creator.identifiers.library_thing_id %}
        <div class="block">
          <p>
            <strong class="title is-size-5 has-text-info">LibraryThing:</strong>
            <a href="#" rel="noopener noreferrer" target="_blank">
              {{ creator.identifiers.library_thing_id }}
            </a>
          </p>
        </div>
        {% endif %}
        {% if creator.identifiers.open_library_id %}
        <div class="block">
          <p>
            <strong class="title is-size-5 has-text-info">OpenLibrary:</strong>
            <a href="https://openlibrary.org/creator/{{ creator.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">
              {{ creator.identifiers.open_library_id }}
            </a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="buttons is-centered">
    {% if token_user.role >= 2 %}
    <a class="button is-warning is-rounded" href="/creators/{{ creator.creator_id }}/edit">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">Books</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _book, roles in book_list %}
      {{ book_column(_book, roles=roles|join(", ", attribute="name")) }}
    {% endfor %}
  </div>
</section>
{% endblock %}
