{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% from "components/forms.jinja" import input %}
{% block title %}{{ role.name }}{% endblock %}
{% block content %}
<section class="section">
  <div class="buttons is-centered">
    {% if token_user.role >= 2 %}
    <a class="button is-warning is-rounded" href="/roles/{{ role.role_id }}/edit">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  <div class="columns">
    {% if token_user.role >= 2 %}
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      <div class="box">
        <h5 class="title is-5 has-text-info">Add BookCreator to Role</h5>
        <form id="add-form" onsubmit="return false;">
          {{ input("Book Id", "book-id") }}
          {{ input("Creator Id", "creator-id") }}
          <div class="buttons is-centered">
            <button class="button is-link is-rounded" id="add-button" type="button" onclick="addBook()">
              <span class="icon is-medium">
                <i class="fa-solid fa-lg fa-plus"></i>
              </span>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
    <div class="column">
      {% for creator, book_list in creators.items() %}
      <div class="divider subtitle is-capitalized is-size-3 is-primary has-text-primary-light">{{ creator.name }}</div>
      <div class="columns is-multiline is-mobile is-centered">
        {% for _book in book_list %}
          {{ book_column(_book, remove_button=True, creator_id=creator.creator_id) }}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if token_user.role >= 2 %}
function addBook(){
  const caller = "add-button";
  let addForm = document.getElementById("add-form");
  let formDetails = Object.fromEntries(new FormData(addForm));
  console.log(formDetails);

  addLoading(caller);
  fetch("/api/v0/roles/{{ role.role_id }}/books", {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
      "book_id": formDetails["book-id"],
      "creator_id": formDetails["creator-id"],
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    addForm.reset();
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}

function removeBook(caller, bookId, creatorId){
  addLoading(caller);
  fetch(`/api/v0/roles/{{ role.role_id }}/books/${creatorId}/${bookId}`, {
    method: "DELETE",
    headers: headers,
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
    alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
