{% extends "view_base.jinja" %}
{% from "components/list_boxes.jinja" import creator as creator_box, genre as genre_box, series as series_box, user as user_box %}
{% block title %}{{ book.title }}{% endblock %}
{% block subtitle %}{{ book.subtitle or "" }}{% endblock %}
{% block image %}
  <figure class="image is-2by3">
    <img loading="lazy" src="{{ book.image_url or 'https://via.placeholder.com/1500x1000' }}" />
  </figure>
{% endblock %}
{% block details %}
  <div class="box">
    <div class="block">
      <p><strong class="subtitle is-size-5 has-text-info-light">Description:</strong> {{ book.description or "" }}</p>
    </div>
    <div class="block">
      <p><strong class="subtitle is-size-5 has-text-info-light">Format:</strong> <a class="is-family-primary has-text-link" href="/formats/{{ book.format.format_id }}">{{ book.format.name }}</a></p>
    </div>
    <div class="block">
      <p><strong class="subtitle is-size-5 has-text-info-light">Publish Date:</strong> {% if book.publish_date %}{{ book.publish_date_str }}{% endif %}</p>
    </div>
    <div class="block">
      <p><strong class="subtitle is-size-5 has-text-info-light">Publisher:</strong> <a class="is-family-primary has-text-link" href="/publishers/{{ book.publisher.publisher_id }}">{{ book.publisher.name }}</a></p>
    </div>
    <h4 class="subtitle is-4 has-text-centered has-text-info-light">Identifiers</h4>
    {% if book.identifiers.isbn %}
      <div class="block">
        <p><strong class="subtitle is-size-5 has-text-info-light">Isbn:</strong> {{ book.identifiers.isbn }}</p>
      </div>
    {% endif %}
    {% if book.identifiers.goodreads_id %}
      <div class="block">
        <p><strong class="subtitle is-size-5 has-text-info-light">Goodreads:</strong> <a class="is-family-primary has-text-link" href="https://goodreads.com/book/show/{{ book.identifiers.goodreads_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.goodreads_id }}</a></p>
      </div>
    {% endif %}
    {% if book.identifiers.google_books_id %}
      <div class="block">
        <p><strong class="subtitle is-size-5 has-text-info-light">Google Books:</strong> <a class="is-family-primary has-text-link" href="https://books.google.com/books?id={{ book.identifiers.google_books_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.google_books_id }}</a></p>
      </div>
    {% endif %}
    {% if book.identifiers.library_thing_id %}
      <div class="block">
        <p><strong class="subtitle is-size-5 has-text-info-light">LibraryThing:</strong> <a class="is-family-primary has-text-link" href="https://librarything.com/work/{{ book.identifiers.library_thing_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.library_thing_id }}</a></p>
      </div>
    {% endif %}
    {% if book.identifiers.open_library_id %}
      <div class="block">
        <p><strong class="subtitle is-size-5 has-text-info-light">OpenLibrary:</strong> <a class="is-family-primary has-text-link" href="https://openlibrary.org/edition/{{ book.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.open_library_id }}</a></p>
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block link_buttons %}
  {% if book.identifiers.isbn %}
    <a class="button is-link" href="https://www.bookdepository.com/search?searchIsbn={{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
      <span class="icon">
        <i class="fa-solid fa-link"></i>
      </span>
      <span>Book Depository</span>
    </a>
    {% if not book.identifiers.goodreads_id %}
      <a class="button is-link" href="https://www.goodreads.com/book/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
        <span class="icon">
          <i class="fa-brands fa-goodreads"></i>
        </span>
        <span>Goodreads</span>
      </a>
    {% endif %}
    {% if not book.identifiers.google_books_id %}
      <a class="button is-link" href="https://books.google.com/books?vid=ISBN{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
        <span class="icon">
          <i class="fa-brands fa-google"></i>
        </span>
        <span>Google Books</span>
      </a>
    {% endif %}
    {% if not book.identifiers.library_thing_id %}
      <a class="button is-link" href="https://librarything.com/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
        <span class="icon">
          <i class="fa-solid fa-link"></i>
        </span>
        <span>LibraryThing</span>
      </a>
    {% endif %}
    {% if not book.identifiers.open_library_id %}
      <a class="button is-link" href="https://openlibrary.org/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
        <span class="icon">
          <i class="fa-solid fa-link"></i>
        </span>
        <span>OpenLibrary</span>
      </a>
    {% endif %}
  {% endif %}
{% endblock %}
{% block action_buttons %}
  {% if book.is_collected %}
    <button class="button is-warning" id="discard-button" onclick="discardBook()" type="button">
      <span class="icon">
        <i class="fa-solid fa-rotate-left"></i>
      </span>
      <span>Discard</span>
    </button>
  {% else %}
    <button class="button is-success" id="collect-button" onclick="collectBook()" type="button">
      <span class="icon">
        <i class="fa-solid fa-box-archive"></i>
      </span>
      <span>Collect</span>
    </button>
  {% endif %}
  {% if current_user.role >= 2 %}
    <a class="button is-danger" href="/books/{{ book.book_id }}/edit">
      <span class="icon">
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
  {% endif %}
  {% if book.is_collected %}
    {% if current_user in book.readers %}
      <button class="button is-warning" id="unread-button" onclick="unreadBook()" type="buutoj">
        <span class="icon">
          <i class="fa-solid fa-bookmark"></i>
        </span>
        <span>Unread</span>
      </button>
    {% else %}
      <button class="button is-success" id="read-button" onclick="readBook()" type="button">
        <span class="icon">
          <i class="fa-regular fa-bookmark"></i>
        </span>
        <span>Read</span>
      </button>
    {% endif %}
  {% else %}
    {% if current_user in book.wishers %}
      <button class="button is-warning" id="unwish-button" onclick="unwishBook()" type="button">
        <span class="icon">
          <i class="fa-solid fa-star"></i>
        </span>
        <span>Unwish</span>
      </button>
    {% else %}
      <button class="button is-success" id="wish-button" onclick="wishBook()" type="button">
        <span class="icon">
          <i class="fa-regular fa-star"></i>
        </span>
        <span>Wish</span>
      </button>
    {% endif %}
  {% endif %}
{% endblock %}
{% block sub_content %}
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {% include "components/settings_box.jinja" %}
    </div>
    <div class="column">
      <h3 class="subtitle is-3 has-text-primary-dark">Creators</h3>
      <div class="columns is-multiline is-centered">
        {% for entry in book.creators if book.creators %}
          <div class="adjustable-column column has-text-centered">
            {{ creator_box(obj=entry, roles=entry.roles, show_remove=current_user.role >= 2) }}
          </div>
        {% else %}
          <div class="column has-text-centered">
            <div class="box">
              <h5 class="title is-5 has-text-danger-light">No Creators associated with this book.</h5>
            </div>
          </div>
        {% endfor %}
      </div>
      <h3 class="subtitle is-3 has-text-primary-dark">Genres</h3>
      <div class="columns is-multiline is-centered">
        {% for entry in book.genres if book.genres %}
          <div class="adjustable-column column has-text-centered">
            {{ genre_box(obj=entry, show_remove=current_user.role >= 2) }}
          </div>
        {% else %}
          <div class="column has-text-centered">
            <div class="box">
              <h5 class="title is-5 has-text-danger-light">No Genres associated with this book.</h5>
            </div>
          </div>
        {% endfor %}
      </div>
      <h3 class="subtitle is-3 has-text-primary-dark">Series</h3>
      <div class="columns is-multiline is-centered">
        {% for entry in book.series if book.series %}
          <div class="adjustable-column column has-text-centered">
            {{ series_box(obj=entry, show_remove=current_user.role >= 2) }}
          </div>
        {% else %}
          <div class="column has-text-centered">
            <div class="box">
              <h5 class="title is-5 has-text-danger-light">No Series associated with this book.</h5>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if book.is_collected %}
        <h3 class="subtitle is-3 has-text-primary-dark">Readers</h3>
        <div class="columns is-multiline is-centered">
          {% for entry in book.readers if book.readers %}
            <div class="adjustable-column column has-text-centered">
              {{ user_box(obj=entry) }}
            </div>
          {% else %}
            <div class="column has-text-centered">
              <div class="box">
                <h5 class="title is-5 has-text-danger-light">No Users have read this book.</h5>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h3 class="subtitle is-3 has-text-primary-dark">Wishers</h3>
        <div class="columns is-multiline is-centered">
          {% for entry in book.wishers if book.wishers %}
            <div class="adjustable-column column has-text-centered">
              {{ user_box(obj=entry) }}
            </div>
          {% else %}
            <div class="column has-text-centered">
              <div class="box">
                <h5 class="title is-5 has-text-danger-light">No Users have wished for this book.</h5>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ super() }}
  <script type="text/javascript">
    {% if book.is_collected %}
      function discardBook(){
        const caller = "discard-button";

        addLoading(caller);
        fetch(`/api/v0/books/{{ book.book_id }}/collect`, {
          method: "DELETE",
          headers: headers,
        }).then((response) => {
          if (!response.ok){
            return Promise.reject(response);
          }
          window.location.reload();
        }).catch((response) => response.json().then((msg) => {
            alert(`${response.status} ${response.statusText}: ${msg.details}`);
        })).finally(() => removeLoading(caller));
      }
      {% if current_user in book.readers %}
        function unreadBook(){
          const caller = "unread-button";

          addLoading(caller);
          fetch(`/api/v0/books/{{ book.book_id }}/read`, {
            method: "DELETE",
            headers: headers,
            body: JSON.stringify({
              "reader_id": {{ current_user.user_id }}
            }),
          }).then((response) => {
            if (!response.ok){
              return Promise.reject(response);
            }
            window.location.reload();
          }).catch((response) => response.json().then((msg) => {
              alert(`${response.status} ${response.statusText}: ${msg.details}`);
          })).finally(() => removeLoading(caller));
        }
      {% else %}
        function readBook(){
          const caller = "read-button";

          addLoading(caller);
          fetch(`/api/v0/books/{{ book.book_id }}/read`, {
            method: "POST",
            headers: headers,
            body: JSON.stringify({
              "reader_id": {{ current_user.user_id }},
              "read_date": new Date().toISOString().slice(0, 10)
            }),
          }).then((response) => {
            if (!response.ok){
              return Promise.reject(response);
            }
            window.location.reload();
          }).catch((response) => response.json().then((msg) => {
              alert(`${response.status} ${response.statusText}: ${msg.details}`);
          })).finally(() => removeLoading(caller));
        }
      {% endif %}
    {% else %}
      function collectBook(){
        const caller = "collect-button";

        addLoading(caller);
        fetch(`/api/v0/books/{{ book.book_id }}/collect`, {
          method: "POST",
          headers: headers,
        }).then((response) => {
          if (!response.ok){
            return Promise.reject(response);
          }
          window.location.reload();
        }).catch((response) => response.json().then((msg) => {
            alert(`${response.status} ${response.statusText}: ${msg.details}`);
        })).finally(() => removeLoading(caller));
      }
      {% if current_user in book.wishers %}
        function unwishBook(){
          const caller = "unwish-button";

          addLoading(caller);
          fetch(`/api/v0/books/{{ book.book_id }}/wish`, {
            method: "DELETE",
            headers: headers,
            body: JSON.stringify({
              "wisher_id": {{ current_user.user_id }}
            }),
          }).then((response) => {
            if (!response.ok){
              return Promise.reject(response);
            }
            window.location.reload();
          }).catch((response) => response.json().then((msg) => {
              alert(`${response.status} ${response.statusText}: ${msg.details}`);
          })).finally(() => removeLoading(caller));
        }
      {% else %}
        function wishBook(){
          const caller = "wish-button";

          addLoading(caller);
          fetch(`/api/v0/books/{{ book.book_id }}/wish`, {
            method: "POST",
            headers: headers,
            body: JSON.stringify({
              "wisher_id": {{ current_user.user_id }}
            }),
          }).then((response) => {
            if (!response.ok){
              return Promise.reject(response);
            }
            window.location.reload();
          }).catch((response) => response.json().then((msg) => {
              alert(`${response.status} ${response.statusText}: ${msg.details}`);
          })).finally(() => removeLoading(caller));
        }
      {% endif %}
    {% endif %}
    function removeCreator(creatorId){
      const caller = `remove-creator-${creatorId}-button`;

      addLoading(caller);
      fetch(`/api/v0/books/{{ book.book_id }}/creators`, {
        method: "DELETE",
        headers: headers,
        body: JSON.stringify({
          "creator_id": creatorId
        }),
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location.reload();
      }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
    function removeGenre(genreId){
      const caller = `remove-genre-${genreId}-button`;

      addLoading(caller);
      fetch(`/api/v0/books/{{ book.book_id }}/genres`, {
        method: "DELETE",
        headers: headers,
        body: JSON.stringify({
          "genre_id": genreId
        }),
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location.reload();
      }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
    function removeSeries(seriesId){
      const caller = `remove-series-${seriesId}-button`;

      addLoading(caller);
      fetch(`/api/v0/books/{{ book.book_id }}/series`, {
        method: "DELETE",
        headers: headers,
        body: JSON.stringify({
          "series_id": seriesId
        }),
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location.reload();
      }).catch((response) => response.json().then((msg) => {
          alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
  </script>
{% endblock %}
