{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% block title %}{{ author.name }}{% endblock %}
{% block content %}
<section>
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      <div class="box has-text-centered">
        <figure class="image is-256x256 is-inline-block">
          <img alt="{{ author.name }}'s Profile Image" class="is-rounded" loading="lazy" onerror="this.src='https://via.placeholder.com/512x512'" src="{{ author.image_url or '/static/img/logo.png' }}"/>
        </figure>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <div class="divider is-info is-size-4">More Details</div>
        <div class="block">
          <p><strong class="title is-size-4">Bio:</strong> {{ author.bio or "" }}</p>
        </div>
        <div class="divider is-info is-size-4">Identifiers</div>
        {% if author.identifiers.goodreads_id %}
        <div class="block">
          <a href="#" rel="noopener noreferrer" target="_blank">
            <strong class="title is-size-4">Goodreads:</strong> {{ author.identifiers.goodreads_id }}
          </a>
        </div>
        {% endif %}
        {% if author.identifiers.library_thing_id %}
        <div class="block">
          <a href="#" rel="noopener noreferrer" target="_blank">
            <strong class="title is-size-4">ibraryThing:</strong> {{ author.identifiers.library_thing_id }}
          </a>
        </div>
        {% endif %}
        {% if author.identifiers.open_library_id %}
        <div class="block">
          <a href="https://openlibrary.org/author/{{ author.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">
            <strong class="title is-size-4">OpenLibrary:</strong> {{ author.identifiers.open_library_id }}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="buttons is-centered">
    {% if token_user.role >= 2 %}
    <a class="button is-warning is-rounded" href="/authors/{{ author.author_id }}/edit">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">Books</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _book in book_list %}
      {{ book_column(_book) }}
    {% endfor %}
  </div>
</section>
{% endblock %}
