{% extends "view_base.jinja" %}
{% from "components/list_boxes/view.jinja" import book as view_book %}
{% from "components/list_boxes/edit.jinja" import book as edit_book %}
{% from "components/forms.jinja" import input %}
{% block title %}{{ role.name }}{% endblock %}
{% block action_buttons %}
  {% if current_user.role >= 2 %}
    <a class="button is-warning" href="/roles/{{ role.role_id }}/edit">
      <span class="icon">
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% if current_user.role >= 3 %}
      <button class="button is-danger" id="delete-button" type="button" onclick="deleteRole()">
        <span class="icon">
          <i class="fa-solid fa-trash"></i>
        </span>
        <span>Delete</span>
      </button>
    {% endif %}
  {% endif %}
{% endblock %}
{% block sub_content %}
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      {% include "components/settings_box.jinja" %}
      {% if current_user.role >= 2 %}
        <div class="box">
          <h5 class="title is-5 has-text-info-light">Add BookCreator to Role</h5>
          <form id="add-form" onsubmit="return false;">
            <!-- region Book -->
            <div class="field">
              <label class="label has-text-info">Book</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="book-id">
                    <option disabled hidden selected value="">Select Book</option>
                    {% for entry in all_books %}
                      <option value={{ entry.book_id }}>{{ entry.title }}{% if entry.subtitle %}: {{ entry.subtitle }}{% endif %}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <!-- endregion -->
            <!-- region Creator -->
            <div class="field">
              <label class="label has-text-info">Creator</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="creator-id">
                    <option disabled hidden selected value="">Select Creator</option>
                    {% for entry in all_creators %}
                      <option value={{ entry.creator_id }}>{{ entry.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <!-- endregion -->
            <div class="buttons is-centered">
              <button class="button is-success" id="add-button" type="button" onclick="addBook()">
                <span class="icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span>Add</span>
              </button>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
    <div class="column">
      {% for creator, book_list in creators.items() if creators %}
        <a class="subtitle is-size-3 has-text-link-dark" href="/creators/{{ creator.creator_id }}">{{ creator.name }}</a>
        <div class="columns is-multiline is-centered">
          {% for entry in book_list %}
            <div class="adjustable-column column has-text-centered">
              {% if current_user.role >= 2 %}
                {{ edit_book(obj=entry) }}
              {% else %}
                {{ view_book(obj=entry) }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="column has-text-centered">
          <div class="box">
            <h5 class="title is-5 has-text-danger-light">No Books or Creators associated with this Role.</h5>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ super() }}
  <script type="text/javascript">
    function addBook(){
      const caller = "add-button";
      let addForm = document.getElementById("add-form");
      let formDetails = Object.fromEntries(new FormData(addForm));
      console.log(formDetails);

      addLoading(caller);
      fetch("/api/v0/roles/{{ role.role_id }}/books", {
        method: "POST",
        headers: headers,
        body: JSON.stringify({
          "book_id": formDetails["book-id"],
          "creator_id": formDetails["creator-id"],
        }),
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        addForm.reset();
        window.location.reload();
      }).catch((response) => response.json().then((msg) => {
        alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
    function removeBook(bookId){
    let caller = `remove-book-${bookId}-button`;

    addLoading(caller);
      fetch(`/api/v0/books/${bookId}/creators`, {
        method: "DELETE",
        headers: headers,
        body: JSON.stringify({
          "creator_id": creatorId,
          "role_id": {{ role.role_id }}
        })
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location.reload();
      }).catch((response) => response.json().then((msg) => {
        alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
    function deleteRole(){
      const caller = "delete-button";

      addLoading(caller);
      fetch("/api/v0/roles/{{ role.role_id }}", {
        method: "DELETE",
        headers: headers,
      }).then((response) => {
        if (!response.ok){
          return Promise.reject(response);
        }
        window.location = "/roles";
      }).catch((response) => response.json().then((msg) => {
        alert(`${response.status} ${response.statusText}: ${msg.details}`);
      })).finally(() => removeLoading(caller));
    }
  </script>
{% endblock %}
