{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% block title %}{{ format.name }}{% endblock %}
{% block content %}
<section class="section">
  <div class="buttons is-centered">
    {% if token_user.role >= 2 %}
    <a class="button is-warning is-rounded" href="/formats/{{ format.format_id }}/edit">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  <div class="divider subtitle is-capitalized is-size-3 has-text-primary-dark is-primary">Books</div>
  <div class="columns is-multiline is-mobile is-centered">
    {% for _book in book_list %}
      {{ book_column(_book) }}
    {% endfor %}
  </div>
</section>
{% endblock %}
