{% extends "base.jinja" %}
{% from "components/columns/creator.jinja" import creator_column %}
{% from "components/columns/series.jinja" import series_column %}
{% from "components/columns/user.jinja" import user_column %}
{% from "components/forms.jinja" import input %}
{% block title %}{{ book.title }}{% endblock %}
{% block subtitle %}{% if book.subtitle %}{{ book.subtitle }}{% endif %}{% endblock %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
      <div class="box">
        <figure class="image is-2by3">
          <img alt="{{ book.title }} by {{ book.creators|join(', ', attribute='display_name') }}" height="750" loading="lazy" onerror="this.src='https://via.placeholder.com/1500x1000'" src="{{ book.image_url or '/static/img/logo.png' }}" width="500"/>
        </figure>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <div class="block">
          <p>
            <strong class="subtitle is-size-5 has-text-info">Format:</strong> <a class="is-family-primary" href="/formats/{{ book.format.format_id }}">{{ book.format.name }}</a>
          </p>
        </div>
        <div class="block">
          <p><strong class="subtitle is-size-5 has-text-info">Publish Date:</strong> {% if book.publish_date %}{{ book.publish_date_str }}{% endif %}</p>
        </div>
        <div class="divider subtitle is-capitalized has-text-info is-size-4">More Details</div>
        <div class="block">
          <p><strong class="subtitle is-size-5 has-text-info">Description:</strong> {{ book.description or "" }}</p>
        </div>
        <div class="block">
          <p>
            <strong class="subtitle is-size-5 has-text-info">Genres:</strong> {% for _genre in book.genres %}<a class="is-family-primary" href="/genres/{{ _genre.genre_id }}">{{ _genre.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
          </p>
        </div>
        <div class="block">
          <p><strong class="subtitle is-size-5 has-text-info">Publisher:</strong> {% if book.publisher %}{{ book.publisher.name }}{% endif %}</p>
        </div>
        <div class="block">
          <p>
            <strong class="subtitle is-size-5 has-text-info">Series:</strong> {% for _series in book.series %}<a class="is-family-primary" href="/series/{{ _series.series_id }}">{{ _series.name }}{% if _series.number %} #{{ _series.number }}{% endif %}</a>{% if not loop.last %}, {% endif %}{% endfor %}
          </p>
        </div>
        <div class="divider subtitle is-capitalized has-text-info is-size-4">Identifiers</div>
        <div class="block">
          <p><strong class="subtitle is-size-5 has-text-info">Isbn:</strong> {{ book.identifiers.isbn }}</p>
        </div>
        {% if book.identifiers.goodreads_id %}
        <div class="block">
          <p>
            <strong class="subtitle is-size-5 has-text-info">Goodreads:</strong> <a class="is-family-primary" href="https://goodreads.com/book/show/{{ book.identifiers.goodreads_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.goodreads_id }}</a>
          </p>
        </div>
        {% endif %}
        {% if book.identifiers.google_books_id %}
        <div class="block">
          <p>
            <strong class="subtitle is-size-5 has-text-info">Google Books:</strong> <a class="is-family-primary" href="https://books.google.com/books?id={{ book.identifiers.google_books_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.google_books_id }}</a>
          </p>
        </div>
        {% endif %}
        {% if book.identifiers.library_thing_id %}
        <div class="block">
          <p>
            <strong class="subtitle is-size-5 has-text-info">LibraryThing:</strong> <a class="is-family-primary" href="https://librarything.com/work/{{ book.identifiers.library_thing_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.library_thing_id }}</a>
          </p>
        </div>
        {% endif %}
        {% if book.identifiers.open_library_id %}
        <div class="block">
          <p>
            <strong class="subtitle is-size-5 has-text-info">OpenLibrary:</strong> <a class="is-family-primary" href="https://openlibrary.org/edition/{{ book.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">{{ book.identifiers.open_library_id }}</a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="buttons is-centered is-multiline">
    <a class="button is-link is-rounded" href="https://www.bookdepository.com/search?searchIsbn={{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-link"></i>
      </span>
      <span>Book Depository</span>
    </a>
    {% if not book.identifiers.goodreads_id %}
    <a class="button is-link is-rounded" href="https://www.goodreads.com/book/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
      <span class="icon is-medium">
        <i class="fa-brands fa-lg fa-goodreads"></i>
      </span>
      <span>Goodreads</span>
    </a>
    {% endif %}
    {% if not book.identifiers.google_books_id %}
    <a class="button is-link is-rounded" href="https://books.google.com/books?vid=ISBN{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
      <span class="icon is-medium">
        <i class="fa-brands fa-lg fa-google"></i>
      </span>
      <span>Google Books</span>
    </a>
    {% endif %}
    {% if not book.identifiers.library_thing_id %}
    <a class="button is-link is-rounded" href="https://librarything.com/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-link"></i>
      </span>
      <span>LibraryThing</span>
    </a>
    {% endif %}
    {% if not book.identifiers.open_library_id %}
    <a class="button is-link is-rounded" href="https://openlibrary.org/isbn/{{ book.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-link"></i>
      </span>
      <span>OpenLibrary</span>
    </a>
    {% endif %}
  </div>
  <div class="buttons is-centered is-multiline">
    {% if book.is_collected %}
    <button class="button is-warning is-rounded" id="discard-book-button" type="button" onclick="discardBook()">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-rotate-left"></i>
      </span>
      <span>Discard</span>
    </button>
    {% if token_user in book.readers %}
    <button class="button is-warning is-rounded" id="unread-button" type="button" onclick="unreadBook()">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-bookmark"></i>
      </span>
      <span>Unread</span>
    </button>
    {% else %}
    <button class="button is-success is-rounded modal-trigger" data-target="read-modal" id="read-modal-button" type="button">
      <span class="icon is-medium">
        <i class="fa-regular fa-lg fa-bookmark"></i>
      </span>
      <span>Read</span>
    </button>
    {% endif %}
    {% else %}
    <button class="button is-success is-rounded" id="collect-book-button" type="button" onclick="collectBook()">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-box-archive"></i>
      </span>
      <span>Collect</span>
    </button>
    <button class="button {% if token_user in book.wishers %}is-warning{% else %}is-success{% endif %} is-rounded" id="wish-book-button" type="button" onclick="wishBook()">
      <span class="icon is-medium">
        {% if token_user in book.wishers %}
        <i class="fa-solid fa-lg fa-star"></i>
        {% else %}
        <i class="fa-regular fa-lg fa-star"></i>
        {% endif %}
      </span>
      {% if token_user in book.wishers %}
      <span>Unwish</span>
      {% else %}
      <span>Wish</span>
      {% endif %}
    </button>
    {% endif %}
    {% if token_user.role >= 2 %}
    <a class="button is-danger is-rounded" href="/books/{{ book.book_id }}/edit">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  <div class="divider subtitle is-capitalized is-size-3 has-text-primary-dark is-primary">Creators</div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _creator in book.creators %}
    {{ creator_column(_creator, roles=_creator.roles) }}
    {% endfor %}
  </div>
  {% if book.is_collected %}
  <div class="divider subtitle is-capitalized is-size-3 has-text-primary-dark is-primary">Readers</div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _reader in book.readers %}
      {{ user_column(_reader) }}
    {% endfor %}
  </div>
  {% else %}
  <div class="divider subtitle is-capitalized is-size-3 has-text-primary-dark is-primary">Wishers</div>
  <div class="columns is-multiline is-mobile is-centered">
    {% for _wisher in book.wishers %}
      {{ user_column(_wisher) }}
    {% endfor %}
  </div>
  {% endif %}
</section>
{% if token_user not in book.readers %}
<div class="modal" id="read-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="content">
        <p class="modal-card-title has-text-primary-dark">Read Date</p>
      </div>
    </header>
    <section class="modal-card-body">
      <form id="read-form" onsubmit="return false;">
        {{ input("Read Date", "read-date", value=today) }}
        <div class="buttons is-centered">
          <button class="button is-success is-rounded" id="read-button" type="button" onclick="readBook()">
            <span class="icon is-medium">
              <i class="fa-regular fa-lg fa-bookmark"></i>
            </span>
            <span>Read Book</span>
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endif %}
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
{% if book.is_collected %}
function discardBook(){
  const caller = "discard-book-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/collect`, {
    method: "DELETE",
    headers: headers,
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% if token_user in book.readers %}
function unreadBook(){
  const caller = "unread-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/read`, {
    method: "DELETE",
    headers: headers,
    body: JSON.stringify({
      "reader_id": {{ token_user.user_id }}
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% else %}
function readBook(){
  const caller = "read-modal-button";
  let readForm = document.getElementById("read-form");
  let formDetails = Object.fromEntries(new FormData(readForm));
  console.log(formDetails);

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/read`, {
    method: "POST",
    headers: headers,
    body: JSON.stringify({
      "reader_id": {{ token_user.user_id }},
      "read_date": formDetails["read-date"]
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
{% else %}
function collectBook(){
  const caller = "collect-book-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/collect`, {
    method: "POST",
    headers: headers,
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}

function wishBook(){
  const caller = "wish-book-button";

  addLoading(caller);
  fetch(`/api/v0/books/{{ book.book_id }}/wish`, {
    method: "PUT",
    headers: headers,
    body: JSON.stringify({
      "wisher_id": {{ token_user.user_id }}
    }),
  }).then((response) => {
    if (!response.ok){
      return Promise.reject(response);
    }
    window.location.reload();
  }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText}: ${msg.details}`);
  })).finally(() => removeLoading(caller));
}
{% endif %}
</script>
{% endblock %}
