{% extends "base.jinja" %}
{% from "components/columns/book.jinja" import book_column %}
{% block title %}{{ role.name }}{% endblock %}
{% block content %}
<section class="section">
  <div class="buttons is-centered">
    {% if token_user.role >= 2 %}
    <a class="button is-warning is-rounded" href="/roles/{{ role.role_id }}/edit">
      <span class="icon is-medium">
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  {% for creator, book_list in creators.items() %}
  <div class="block has-text-centered">
    <h3 class="subtitle is-3">{{ creator.name }}</h3>
  </div>
  <div class="columns is-multiline is-centered is-mobile">
    {% for _book in book_list %}
      {{ book_column(_book) }}
    {% endfor %}
  </div>
  {% endfor %}
</section>
{% endblock %}
