{% extends "base.jinja" %}
{% block title_image %}
<figure class="image is-64x64 is-inline-block is-rounded">
  <img alt="{{ author.name }}'s Profile Image" loading="lazy" onerror="this.src='https://via.placeholder.com/128x128'" src="{{ author.image_url }}"/>
</figure>
{% endblock %}
{% block title %}{{ author.name }}{% endblock %}
{% block content %}
<section>
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <div class="box">
        <div class="divider is-info is-size-4">More Details</div>
        <div class="block">
          <p><strong class="title is-size-4">Bio:</strong> {{ author.bio or "" }}</p>
        </div>
        <div class="divider is-info is-size-4">Identifiers</div>
        {% if author.identifiers.amazon_id %}
        <div class="block">
          <a href="#" rel="noopener noreferrer" target="_blank">
            <strong class="title is-size-4">Amazon:</strong> {{ author.identifiers.amazon_id }}
          </a>
        </div>
        {% endif %}
        {% if author.identifiers.goodreads_id %}
        <div class="block">
          <a href="#" rel="noopener noreferrer" target="_blank">
            <strong class="title is-size-4">Goodreads:</strong> {{ author.identifiers.goodreads_id }}
          </a>
        </div>
        {% endif %}
        {% if author.identifiers.library_thing_id %}
        <div class="block">
          <a href="#" rel="noopener noreferrer" target="_blank">
            <strong class="title is-size-4">ibraryThing:</strong> {{ author.identifiers.library_thing_id }}
          </a>
        </div>
        {% endif %}
        {% if author.identifiers.open_library_id %}
        <div class="block">
          <a href="https://openlibrary.org/author/{{ author.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">
            <strong class="title is-size-4">OpenLibrary:</strong> {{ author.identifiers.open_library_id }}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="buttons is-centered">
    {% if token_user.role >= 2 %}
    <a class="button is-warning is-rounded" href="/authors/{{ author.identifiers.author_id }}/edit">
      <span class="icon is-medium">
        <i class="fas fa-lg fa-edit"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>
  <div class="columns is-multiline is-centered">
    {% for _book in book_list %}
    {% include "components/book_column.jinja" %}
    {% endfor %}
  </div>
</section>
{% endblock %}
