{% extends "base.jinja" %}
{% block content %}
  <div class="columns">
    <div class="column is-one-quarter-tablet is-one-fifth-fullhd has-text-centered">
      {% block image %}{% endblock %}
    </div>
    <div class="column">
      {% block details %}{% endblock %}
    </div>
  </div>
  <div class="buttons is-multiline is-centered">
    {% block link_buttons %}{% endblock %}
  </div>
  <div class="buttons is-multiline is-centered">
    {% block action_buttons %}{% endblock %}
  </div>
  {% block sub_content %}
    <div class="columns">
      <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
        {% block sidebar %}
          {% include "components/settings_box.jinja" %}
        {% endblock %}
      </div>
      <div class="column">
        <h3 class="subtitle is-3 has-text-primary-dark">{% block sub_content_title %}{% endblock %}</h3>
        <div class="columns is-multiline is-centered">
          {% block list_content %}{% endblock %}
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
{% block js %}
  <script src="/static/js/settings-box.js" type="text/javascript"></script>
{% endblock %}
