{% macro book(obj, series=("", "")) %}
  <div class="box">
    <div class="columns is-mobile">
      <div class="column is-one-third">
        <figure class="image is-2by3">
          <img {% if not obj.is_available %}class="greyscale" {% endif %}loading="lazy" src="{{ obj.image_url or 'https://via.placeholder.com/750x500' }}" />
        </figure>
      </div>
      <div class="column content">
        <h5 class="title is-5 has-text-info-light{% if not obj.subtitle %} is-spaced{% endif %}">{{ obj.title }}</h5>
        <h6 class="subtitle is-6 has-text-info">{{ obj.subtitle or "" }}</h6>
        <div class="block">
          {% if series[0] %}
            <p>{{ series[0] }}{% if series[1] %} #{{ series[1] }}{% endif %}</p>
          {% endif %}
        </div>
        <div class="buttons is-centered">
          <button class="button is-danger" id="remove-book-{{ obj.book_id }}-button" onclick="removeBook({{ obj.book_id }})" type="button">
            <span class="icon">
              <i class="fa-solid fa-minus"></i>
            </span>
            <span>Remove</span>
          </button>
          <a class="button is-link is-outlined" href="/books/{{ obj.book_id }}">
            <span class="icon">
              <i class="fa-solid fa-eye"></i>
            </span>
            <span>View</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}



{% macro creator(obj, roles=[]) %}
  <div class="box">
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <figure class="image is-128x128">
          <img class="profile is-rounded" loading="lazy" src="{{ obj.image_url or '/static/img/logo.png' }}" />
        </figure>
      </div>
      <div class="column">
        <div class="block">
          <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
          {% if roles %}
            <h6 class="subtitle is-6 has-text-info">{{ roles|join(", ", attribute="name") }}</h6>
          {% endif %}
        </div>
        <div class="buttons is-centered is-multiline">
          <button class="button is-danger" id="remove-creator-{{ obj.creator_id }}-button" onclick="removeCreator({{ obj.creator_id }})" type="button">
            <span class="icon">
              <i class="fa-solid fa-minus"></i>
            </span>
            <span>Remove</span>
          </button>
          <a class="button is-link is-outlined" href="/creators/{{ obj.creator_id }}">
            <span class="icon">
              <i class="fa-solid fa-eye"></i>
            </span>
            <span>View</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}



{% macro format(obj) %}
  <a class="box" href="/formats/{{ obj.format_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro genre(obj, show_remove=False) %}
  {% if show_remove %}
    <div class="box">
  {% else %}
    <a class="box" href="/genres/{{ obj.genre_id }}">
  {% endif %}
    <div class="block">
      <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
    </div>
    {% if show_remove %}
      <div class="buttons is-centered is-multiline">
        <button class="button is-danger" id="remove-genre-{{ obj.genre_id }}-button" onclick="removeGenre({{ obj.genre_id }})" type="button">
          <span class="icon">
            <i class="fa-solid fa-minus"></i>
          </span>
          <span>Remove</span>
        </button>
        <a class="button is-link is-outlined" href="/genres/{{ obj.genre_id }}">
          <span class="icon">
            <i class="fa-solid fa-eye"></i>
          </span>
          <span>View</span>
        </a>
      </div>
    {% endif %}
  {% if show_remove %}
    </div>
  {% else %}
    </a>
  {% endif %}
{% endmacro %}



{% macro publisher(obj) %}
  <a class="box" href="/publishers/{{ obj.publisher_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro role(obj) %}
  <a class="box" href="/roles/{{ obj.role_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro series(obj, show_remove=False) %}
  {% if show_remove %}
    <div class="box">
  {% else %}
    <a class="box" href="/series/{{ obj.series_id }}">
  {% endif %}
    <div class="block">
      <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
      <h6 class="subtitle is-6 has-text-info">{% if obj.number %}#{{ obj.number }}{% endif %}</h6>
    </div>
    {% if show_remove %}
      <div class="buttons is-centered is-multiline">
        <button class="button is-danger" id="remove-series-{{ obj.series_id }}-button" onclick="removeSeries({{ obj.series_id }})" type="button">
          <span class="icon">
            <i class="fa-solid fa-minus"></i>
          </span>
          <span>Remove</span>
        </button>
        <a class="button is-link is-outlined" href="/series/{{ obj.series_id }}">
          <span class="icon">
            <i class="fa-solid fa-eye"></i>
          </span>
          <span>View</span>
        </a>
      </div>
    {% endif %}
  {% if show_remove %}
    </div>
  {% else %}
    </a>
  {% endif %}
{% endmacro %}



{% macro user(obj) %}
  <div class="box">
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <figure class="image is-128x128">
          <img class="profile is-rounded" loading="lazy" src="{{ obj.image_url or '/static/img/logo.png' }}" />
        </figure>
      </div>
      <div class="column content">
        <div class="block">
          <h5 class="title is-5 has-text-info-light">{{ obj.username }}</h5>
        </div>
        <div class="buttons is-centered is-multiline">
          <a class="button is-link is-outlined" href="/users/{{ obj.user_id }}">
            <span class="icon">
              <i class="fa-solid fa-eye"></i>
            </span>
            <span>View</span>
          </a>
          <a class="button is-link is-outlined" href="/users/{{ obj.user_id }}/wishlist">
            <span class="icon">
              <i class="fa-solid fa-star"></i>
            </span>
            <span>Wishlist</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
