{% macro book(obj, roles=[], series=("", "")) %}
  <a class="box" href="/books/{{ obj.book_id }}">
    <div class="columns is-mobile">
      <div class="column is-one-third">
        <figure class="image is-2by3">
          <img {% if not obj.is_available %}class="greyscale" {% endif %}loading="lazy" src="{{ obj.image_url or 'https://via.placeholder.com/750x500' }}" />
        </figure>
      </div>
      <div class="column content">
        <h5 class="title is-5 has-text-info-light{% if not obj.subtitle %} is-spaced{% endif %}">{{ obj.title }}</h5>
        <h6 class="subtitle is-6 has-text-info">{{ obj.subtitle or "" }}</h6>
        <div class="block">
          {% if roles %}
            <p>{{ roles|join(", ", attribute="name") }}</p>
          {% elif series[0] %}
            <p>{{ series[0] }}{% if series[1] %} #{{ series[1] }}{% endif %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
{% endmacro %}



{% macro creator(obj, roles=[]) %}
  <a class="box" href="/creators/{{ obj.creator_id }}">
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <figure class="image is-128x128">
          <img class="profile is-rounded" loading="lazy" src="{{ obj.image_url or '/static/img/logo.png' }}" />
        </figure>
      </div>
      <div class="column">
        <div class="block">
          <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
          {% if roles %}
            <h6 class="subtitle is-6 has-text-info">{{ roles|join(", ", attribute="name") }}</h6>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
{% endmacro %}



{% macro format(obj) %}
  <a class="box" href="/formats/{{ obj.format_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro genre(obj) %}
  <a class="box" href="/genres/{{ obj.genre_id }}">
    <div class="block">
      <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
    </div>
  </a>
{% endmacro %}



{% macro publisher(obj) %}
  <a class="box" href="/publishers/{{ obj.publisher_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro role(obj) %}
  <a class="box" href="/roles/{{ obj.role_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro series(obj) %}
  <a class="box" href="/series/{{ obj.series_id }}">
    <div class="block">
      <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
      <h6 class="subtitle is-6 has-text-info">{% if obj.number %}#{{ obj.number }}{% endif %}</h6>
    </div>
  </a>
{% endmacro %}



{% macro user(obj) %}
  <a class="box" href="/users/{{ obj.user_id }}">
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <figure class="image is-128x128">
          <img class="profile is-rounded" loading="lazy" src="{{ obj.image_url or '/static/img/logo.png' }}"/>
        </figure>
      </div>
      <div class="column">
        <div class="block">
          <h5 class="title is-5 has-text-info-light">{{ obj.username }}</h5>
        </div>
      </div>
    </div>
  </a>
{% endmacro %}
