{% macro author_column(obj, roles=[]) %}
<div class="column is-full-mobile is-half-tablet is-two-fifths-desktop is-one-third-widescreen is-one-quarter-fullhd has-text-centered">
  <div class="card has-text-light has-background-dark">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64 is-rounded">
            <img alt="{{ obj.name }}' profile image" loading="lazy" onerror="this.src='https://via.placeholder.com/128x128'" src="{{ obj.image_url or '/static/img/logo.png' }}"/>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ obj.name }}</p>
          {% if roles %}
          <p class="subtitle is-6">{{ roles|join(", ", attribute="name") }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" href="/authors/{{ obj.author_id }}">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-eye"></i>
        </span>
        <span>View</span>
      </a>
      <a class="card-footer-item modal-trigger" data-target="{{ obj.author_id }}-link-modal" id="{{ obj.author_id }}-link-button">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-link"></i>
        </span>
        <span>Links</span>
      </a>
    </footer>
  </div>
</div>
<div class="modal" id="{{ obj.author_id }}-link-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="content">
        <p class="modal-card-title">Links</p>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="buttons is-centered">
        {% if obj.identifiers.open_library_id %}
        <a class="button is-link is-rounded" href="https://openlibrary.org/author/{{ obj.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">
        {% endif %}
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-link"></i>
          </span>
          <span>OpenLibrary</span>
        </a>
      </div>
    </section>
  </div>
</div>
{% endmacro %}
