{% macro book_column(obj, roles="", series=("", ""), show_remove_button=False, creator_id="") %}
<div class="adjustable-column column is-4 has-text-centered">
  <div class="card">
    {% if roles or series[0] %}
      <header class="card-header">
        {% if roles %}
          <p class="card-header-title">{{ roles }}</p>
        {% elif series[0] %}
          <p class="card-header-title">{{ series[0] }}{% if series[1] %} #{{ series[1] }}{% endif %}</p>
        {% endif %}
      </header>
    {% endif %}
    <div class="card-image">
      <figure class="image is-2by3">
        <img alt="{{ obj.title }}: {{ obj.subtitle or '' }}" class="{% if not obj.is_available %}greyscale{% endif %}" height="375" loading="lazy" onerror="this.src='https://via.placeholder.com/750x500'" src="{{ obj.image_url or '/static/img/logo.png' }}" width="250"/>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-5 has-text-info-light">{{ obj.title }}</p>
          <p class="subtitle is-6 has-text-info">{{ obj.subtitle or "" }}</p>
        </div>
      </div>
      {% if show_remove_button %}
        <div class="buttons is-centered">
          <button class="button is-danger is-rounded is-outlined" type="button" id="{% if creator_id %}{{ creator_id }}-{% endif %}{{ obj.book_id }}-remove-button" onclick="removeBook('{% if creator_id %}{{ creator_id }}-{% endif %}{{ obj.book_id }}-remove-button', {{ obj.book_id }}{% if creator_id %}, {{ creator_id }}{% endif %})">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-minus"></i>
            </span>
            <span>Remove</span>
          </button>
        </div>
      {% endif %}
    </div>
    <footer class="card-footer">
      <a class="card-footer-item has-text-link" href="/books/{{ obj.book_id }}">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-eye"></i>
        </span>
        <span>View</span>
      </a>
      <a class="card-footer-item has-text-link modal-trigger" data-target="{% if creator_id %}{{ creator_id }}-{% endif %}{{ obj.book_id }}-link-modal" id="{{ obj.book_id }}-link-button">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-link"></i>
        </span>
        <span>Links</span>
      </a>
    </footer>
  </div>
</div>
<div class="modal" id="{% if creator_id %}{{ creator_id }}-{% endif %}{{ obj.book_id }}-link-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="content">
        <p class="modal-card-title has-text-primary">Links</p>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="buttons is-centered">
        {% if obj.identifiers.isbn %}
          <a class="button is-link is-rounded" href="https://bookdepository.com/search?searchIsbn={{ obj.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-link"></i>
            </span>
            <span>Book Depository</span>
          </a>
        {% endif %}
        {% if obj.identifiers.goodreads_id or obj.identifiers.isbn %}
          {% if obj.identifiers.goodreads_id %}
            <a class="button is-link is-rounded" href="https://goodreads.com/book/show/{{ obj.identifiers.goodreads_id }}" rel="noopener noreferrer" target="_blank">
          {% else %}
            <a class="button is-link is-rounded" href="https://goodreads.com/book/isbn/{{ obj.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
          {% endif %}
            <span class="icon is-medium">
              <i class="fa-brands fa-lg fa-goodreads"></i>
            </span>
            <span>Goodreads</span>
          </a>
        {% endif %}
        {% if obj.identifiers.google_books_id or obj.identifiers.isbn %}
          {% if obj.identifiers.google_books_id %}
            <a class="button is-link is-rounded" href="https://books.google.com/books?id={{ obj.identifiers.google_books_id }}" rel="noopener noreferrer" target="_blank">
          {% else %}
            <a class="button is-link is-rounded" href="https://books.google.com/books?vid=ISBN{{ obj.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
          {% endif %}
            <span class="icon is-medium">
              <i class="fa-brands fa-lg fa-google"></i>
            </span>
            <span>Google Books</span>
          </a>
        {% endif %}
        {% if obj.identifiers.library_thing_id or obj.identifiers.isbn %}
          {% if obj.identifiers.library_thing_id %}
            <a class="button is-link is-rounded" href="https://librarything.com/work/{{ obj.identifiers.library_thing_id }}" rel="noopener noreferrer" target="_blank">
          {% else %}
            <a class="button is-link is-rounded" href="https://librarything.com/isbn/{{ obj.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
          {% endif %}
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-link"></i>
            </span>
            <span>LibraryThing</span>
          </a>
        {% endif %}
        {% if obj.identifiers.open_library_id or obj.identifiers.isbn %}
          {% if obj.identifiers.open_library_id %}
            <a class="button is-link is-rounded" href="https://openlibrary.org/edition/{{ obj.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">
          {% else %}
            <a class="button is-link is-rounded" href="https://openlibrary.org/isbn/{{ obj.identifiers.isbn }}" rel="noopener noreferrer" target="_blank">
          {% endif %}
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-link"></i>
            </span>
            <span>OpenLibrary</span>
          </a>
        {% endif %}
      </div>
    </section>
  </div>
</div>
{% endmacro %}
