{% macro creator_column(obj, roles=[]) %}
<div class="column is-full-mobile is-half-tablet is-two-fifths-desktop is-one-third-widescreen is-one-quarter-fullhd has-text-centered">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img alt="{{ obj.name }}' profile image" class="profile is-rounded" loading="lazy" onerror="this.src='https://via.placeholder.com/128x128'" src="{{ obj.image_url or '/static/img/logo.png' }}"/>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5 has-text-info-light">{{ obj.name }}</p>
          {% if roles %}
          <p class="subtitle is-6 has-text-info">{{ roles|join(", ", attribute="name") }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item has-text-link" href="/creators/{{ obj.creator_id }}">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-eye"></i>
        </span>
        <span>View</span>
      </a>
      {% if obj.identifiers.open_library_id %}
      <a class="card-footer-item has-text-link modal-trigger" data-target="{{ obj.creator_id }}-link-modal" id="{{ obj.creator_id }}-link-button">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-link"></i>
        </span>
        <span>Links</span>
      </a>
      {% endif %}
    </footer>
  </div>
</div>
{% if obj.identifiers.open_library_id %}
<div class="modal" id="{{ obj.creator_id }}-link-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="content">
        <p class="modal-card-title has-text-primary">Links</p>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="buttons is-centered">
        <a class="button is-link is-rounded" href="https://openlibrary.org/creator/{{ obj.identifiers.open_library_id }}" rel="noopener noreferrer" target="_blank">
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-link"></i>
          </span>
          <span>OpenLibrary</span>
        </a>
      </div>
    </section>
  </div>
</div>
{% endif %}
{% endmacro %}
