{% macro format_column(obj) %}
<div class="adjustable-column column is-4 has-text-centered">
  <a class="box title is-5 has-text-info-light" href="/formats/{{ obj.format_id }}">{{ obj.name }}</a>
</div>
{% endmacro %}
