{% macro genre_column(obj) %}
<div class="adjustable-column column is-4 has-text-centered">
  <a class="box title is-5 has-text-info-light" href="/genres/{{ obj.genre_id }}">{{ obj.name }}</a>
</div>
{% endmacro %}
