{% macro publisher_column(obj) %}
<div class="column is-full-mobile is-half-tablet is-two-fifths-desktop is-one-third-widescreen is-one-quarter-fullhd has-text-centered">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64 is-rounded">
            <img alt="{{ obj.name }}' profile image" loading="lazy" onerror="this.src='https://via.placeholder.com/128x128'" src="{{ obj.image_url or '/static/img/logo.png' }}"/>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 has-text-info-dark">{{ obj.name }}</p>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item has-text-link" href="/publishers/{{ obj.publisher_id }}">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-eye"></i>
        </span>
        <span>View</span>
      </a>
    </footer>
  </div>
</div>
{% endmacro %}
