{% macro publisher_column(obj) %}
<div class="adjustable-column column is-4 has-text-centered">
  <a class="box title is-5 has-text-info-light" href="/publishers/{{ obj.publisher_id }}">{{ obj.name }}</a>
</div>
{% endmacro %}
