{% from "components/forms.jinja" import input %}
{% macro add_book(show_book_depository=False) %}
<div class="box">
  <h1 class="title is-5 has-text-info">Add Book</h1>
  <form id="add-form" onsubmit="return false;">
    {{ input("Isbn", "isbn") }}
    {% if show_book_depository %}
    <div class="divider subtitle is-size-6 is-info has-text-info-light">OR</div>
    {{ input("Book Depository Url", "book-depository-url") }}
    {% endif %}
    <div class="buttons is-centered">
      <button class="button is-link is-rounded" id="add-button" type="button" onclick="addBook()">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-plus"></i>
        </span>
        <span>Add</span>
      </button>
    </div>
  </form>
</div>
{% endmacro %}
