<div class="box" id="slider-box">
  <h5 class="title is-5 has-text-info">Columns</h5>
  <input id="columns-slider" class="slider has-output is-fullwidth is-info is-large is-circle" min="1" max="5" value="3" step="1" type="range" onchange="adjustColumns()">
  <output for="columns-slider">3</output>
</div>
