{% from "components/forms.jinja" import input %}

{% macro format(filters) %}
  <div class="box">
    <h1 class="title is-5 has-text-info-light">Filter Formats</h1>
    <form accept-charset="UTF-8" action="/formats" method="GET">
      {{ input("Name", "name", value=filters['name'] or '') }}
      <div class="buttons is-centered">
        <button class="button is-link">
          <span class="icon">
            <i class="fa-solid fa-filter"></i>
          </span>
          <span>Filter</span>
        </button>
      </div>
    </form>
  </div>
{% endmacro %}



{% macro genre(filters) %}
  <div class="box">
    <h1 class="title is-5 has-text-info-light">Filter Genres</h1>
    <form accept-charset="UTF-8" action="/genres" method="GET">
      {{ input("Name", "name", value=filters['name'] or '') }}
      <div class="buttons is-centered">
        <button class="button is-link">
          <span class="icon">
            <i class="fa-solid fa-filter"></i>
          </span>
          <span>Filter</span>
        </button>
      </div>
    </form>
  </div>
{% endmacro %}



{% macro publisher(filters) %}
  <div class="box">
    <h1 class="title is-5 has-text-info-light">Filter Publishers</h1>
    <form accept-charset="UTF-8" action="/publishers" method="GET">
      {{ input("Name", "name", value=filters['name'] or '') }}
      <div class="buttons is-centered">
        <button class="button is-link">
          <span class="icon">
            <i class="fa-solid fa-filter"></i>
          </span>
          <span>Filter</span>
        </button>
      </div>
    </form>
  </div>
{% endmacro %}



{% macro publisher(filters) %}
  <div class="box">
    <h1 class="title is-5 has-text-info-light">Filter Roles</h1>
    <form accept-charset="UTF-8" action="/roles" method="GET">
      {{ input("Name", "name", value=filters['name'] or '') }}
      <div class="buttons is-centered">
        <button class="button is-link">
          <span class="icon">
            <i class="fa-solid fa-filter"></i>
          </span>
          <span>Filter</span>
        </button>
      </div>
    </form>
  </div>
{% endmacro %}
