{% from "components/forms.jinja" import input %}

{% macro import_book() %}
  <div class="box">
    <h5 class="title is-5 has-text-info-light">Import Book</h5>
    <form id="import-form" onsubmit="return false;">
      {{ input("Isbn", "isbn") }}
      {{ input("OpenLibrary Url", "open-library-url") }}
      <div class="buttons is-centered">
        <button class="button is-success" id="import-button" onclick="importBook()" type="button">
          <span class="icon">
            <i class="fa-solid fa-add"></i>
          </span>
          <span>Import</span>
        </button>
      </div>
    </form>
  </div>
{% endmacro %}
