{% macro format(obj) %}
  <a class="box" href="/formats/{{ obj.format_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro genre(obj) %}
  <a class="box" href="/genres/{{ obj.genre_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro publisher(obj) %}
  <a class="box" href="/publishers/{{ obj.publisher_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro role(obj) %}
  <a class="box" href="/roles/{{ obj.role_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}



{% macro series(obj) %}
  <a class="box" href="/series/{{ obj.series_id }}">
    <h5 class="title is-5 has-text-info-light">{{ obj.name }}</h5>
  </a>
{% endmacro %}
