<nav aria-label="main navigation" class="navbar is-fixed-top is-info" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/users/{{ token_user.user_id }}" id="navbar-banner">
      <img alt="Logo" src="/static/img/logo.png">
      <span>Book Catalogue</span>
    </a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-medium">
            <i class="fas fa-lg fa-file-signature"></i>
          </span>
          <span>Authors</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/authors">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item has-text-danger" href="/authors/roles">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-tag"></i>
            </span>
            <span>Roles</span>
          </a>
        </div>
      </div>
      <a class="navbar-item has-text-danger" href="/books">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-book"></i>
        </span>
        <span>Books</span>
      </a>
      <a class="navbar-item" href="/publishers">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-store-alt"></i>
        </span>
        <span>Publishers</span>
      </a>
      <a class="navbar-item" href="/series">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-layer-group"></i>
        </span>
        <span>Series</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-medium">
            <i class="fas fa-lg fa-users"></i>
          </span>
          <span>Users</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item" href="/users/{{ token_user.user_id }}">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-user"></i>
            </span>
            <span>My Profile</span>
          </a>
          <a class="navbar-item" href="/users/{{ token_user.user_id }}/wishlist">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-star"></i>
            </span>
            <span>My Wishlist</span>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-primary" id="sign-out-button" type="button" onclick="signOut()">
            <span class="icon is-medium">
              <i class="fas fa-lg fa-sign-out-alt"></i>
            </span>
            <span>Sign Out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
