<nav aria-label="main navigation" class="navbar is-fixed-top is-primary" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-5 is-family-secondary" href="/users/{{ token_user.user_id }}" id="navbar-banner">
      <img alt="Logo" src="/static/img/logo.png">
      <span>Book Catalogue</span>
    </a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
    <div class="navbar-item is-size-6 has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-file-signature"></i>
          </span>
          <span>Creators</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item is-size-6" href="/creators">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item is-size-6" href="/roles">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-tags"></i>
            </span>
            <span>Roles</span>
          </a>
        </div>
      </div>
      <div class="navbar-item is-size-6 has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-book"></i>
          </span>
          <span>Books</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item is-size-6" href="/books">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item is-size-6" href="/formats">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-note-sticky"></i>
            </span>
            <span>Formats</span>
          </a>
          <a class="navbar-item is-size-6" href="/genres">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-masks-theater"></i>
            </span>
            <span>Genres</span>
          </a>
          <a class="navbar-item is-size-6" href="/publishers">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-shop"></i>
            </span>
            <span>Publishers</span>
          </a>
        </div>
      </div>
      <a class="navbar-item is-size-6" href="/series">
        <span class="icon is-medium">
          <i class="fa-solid fa-lg fa-layer-group"></i>
        </span>
        <span>Series</span>
      </a>
      <div class="navbar-item is-size-6 has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-users"></i>
          </span>
          <span>Users</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item is-size-6" href="/users">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item is-size-6" href="/users/{{ token_user.user_id }}">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-user"></i>
            </span>
            <span>My Profile</span>
          </a>
          <a class="navbar-item is-size-6" href="/users/{{ token_user.user_id }}/wishlist">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-star"></i>
            </span>
            <span>My Wishlist</span>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item is-size-6">
        <div class="buttons">
          <button class="button is-primary" id="sign-out-button" type="button" onclick="signOut()">
            <span class="icon is-medium">
              <i class="fa-solid fa-lg fa-right-from-bracket"></i>
            </span>
            <span>Sign Out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
