<nav aria-label="main navigation" class="navbar is-fixed-top is-primary" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/users/{{ token_user.user_id }}" id="navbar-banner">Bookshelf</a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon">
            <i class="fa-solid fa-file-signature"></i>
          </span>
          <span>Creators</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/creators">
            <span class="icon">
              <i class="fa-solid fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item" href="/roles">
            <span class="icon">
              <i class="fa-solid fa-tags"></i>
            </span>
            <span>Roles</span>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon">
            <i class="fa-solid fa-book"></i>
          </span>
          <span>Books</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/books">
            <span class="icon">
              <i class="fa-solid fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item" href="/formats">
            <span class="icon">
              <i class="fa-solid fa-note-sticky"></i>
            </span>
            <span>Formats</span>
          </a>
          <a class="navbar-item" href="/genres">
            <span class="icon">
              <i class="fa-solid fa-masks-theater"></i>
            </span>
            <span>Genres</span>
          </a>
          <a class="navbar-item" href="/publishers">
            <span class="icon">
              <i class="fa-solid fa-shop"></i>
            </span>
            <span>Publishers</span>
          </a>
        </div>
      </div>
      <a class="navbar-item" href="/series">
        <span class="icon">
          <i class="fa-solid fa-layer-group"></i>
        </span>
        <span>Series</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon">
            <i class="fa-solid fa-users"></i>
          </span>
          <span>Users</span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users">
            <span class="icon">
              <i class="fa-solid fa-list"></i>
            </span>
            <span>List</span>
          </a>
          <a class="navbar-item" href="/users/{{ token_user.user_id }}">
            <span class="icon">
              <i class="fa-solid fa-user"></i>
            </span>
            <span>My Profile</span>
          </a>
          <a class="navbar-item" href="/users/{{ token_user.user_id }}/wishlist">
            <span class="icon">
              <i class="fa-solid fa-star"></i>
            </span>
            <span>My Wishlist</span>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-danger" id="sign-out-button" type="button" onclick="signOut()">
            <span class="icon">
              <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            <span>Sign Out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
