<div class="box" id="settings-box">
  <h5 class="title is-5 has-text-info">Settings</h5>
  <form id="settings-form" onsubmit="return false;">
    <div class="field">
      <label class="label has-text-info-light">Column Count</label>
      <div class="control is-expanded">
        <input class="input is-rounded" max=5 min=1 name="column-count" onchange="adjustColumns();" placeholder="Column Count" type="number" value=3>
      </div>
    </div>
  </form>
</div>
